USE [CustomerIntelligence]
GO
/****** Object:  Table [domain].[BigQuery_Community_RawLast3Months]    Script Date: 24-sept.-18 14:20:58 ******/
DROP TABLE IF EXISTS [domain].[BigQuery_Community_RawLast3Months]
GO
/****** Object:  Table [domain].[BigQuery_Community_RawLast3Months]    Script Date: 24-sept.-18 14:21:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [domain].[BigQuery_Community_RawLast3Months](
	[visitorId] [int] NULL,
	[visitNumber] [int] NULL,
	[visitId] [int] NULL,
	[visitStartTime] [int] NULL,
	[date] [char](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[totals_visits] [int] NULL,
	[totals_hits] [int] NULL,
	[totals_pageviews] [int] NULL,
	[totals_timeOnSite] [int] NULL,
	[totals_bounces] [int] NULL,
	[totals_transactions] [int] NULL,
	[totals_transactionRevenue] [int] NULL,
	[totals_newVisits] [int] NULL,
	[totals_screenViews] [int] NULL,
	[totals_uniqueScreenViews] [int] NULL,
	[totals_timeOnScreen] [int] NULL,
	[totals_totalTransactionRevenue] [int] NULL,
	[trafficSource_referralPath] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_campaign] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_source] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_medium] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_keyword] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_adContent] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_adwordsClickInfo_campaignId] [int] NULL,
	[trafficSource_adwordsClickInfo_adGroupId] [int] NULL,
	[trafficSource_adwordsClickInfo_creativeId] [int] NULL,
	[trafficSource_adwordsClickInfo_criteriaId] [int] NULL,
	[trafficSource_adwordsClickInfo_page] [int] NULL,
	[trafficSource_adwordsClickInfo_slot] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_adwordsClickInfo_criteriaParameters] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_adwordsClickInfo_gclId] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_adwordsClickInfo_customerId] [int] NULL,
	[trafficSource_adwordsClickInfo_adNetworkType] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[trafficSource_adwordsClickInfo_targetCriteria_boomUserlistId] [int] NULL,
	[trafficSource_adwordsClickInfo_isVideAd] [bit] NULL,
	[trafficSource_isTrueDirect] [bit] NULL,
	[trafficSource_campaignCode] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_browser] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_browserVersion] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_browserSize] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_operatingSystem] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_operatingSystemVersion] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_isMobile] [bit] NULL,
	[device_mobileDeviceBranding] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_mobileDeviceModel] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_mobileInputSelector] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_mobileDeviceInfo] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_mobileDeviceMarketingName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_flashVersion] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_javaEnabled] [bit] NULL,
	[device_language] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_screenColors] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_screenResolution] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_deviceCategory] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[geoNetwork_continent] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[geoNetwork_subContinent] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[geoNetwork_country] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[geoNetwork_region] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomDimensions_index] [int] NULL,
	[CustomDimensions_value] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_hitNumber] [int] NULL,
	[hits_time] [int] NULL,
	[hits_hour] [int] NULL,
	[hits_minute] [int] NULL,
	[hits_isSecure] [bit] NULL,
	[hits_isInteraction] [bit] NULL,
	[hits_isEntrance] [bit] NULL,
	[hits_isExit] [bit] NULL,
	[hits_referer] [varchar](2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_pagePath] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_hostname] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_pageTitle] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_searchKeyword] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_searchCategory] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_pagePathLevel1] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_pagePathLevel2] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_pagePathLevel3] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_page_pagePathLevel4] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_transaction_transactionId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_transaction_transactionRevenue] [int] NULL,
	[hits_transaction_transactionTax] [int] NULL,
	[hits_transaction_transactionShipping] [int] NULL,
	[hits_transaction_affiliation] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_transaction_currencyCode] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_transaction_localTransactionRevenue] [int] NULL,
	[hits_transaction_localTransactionTax] [int] NULL,
	[hits_transaction_localTransactionShipping] [int] NULL,
	[hits_transaction_transactionCoupon] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_item_transactionId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_item_productName] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_item_productCategory] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_item_productSku] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_item_itemQuantity] [int] NULL,
	[hits_item_itemRevenue] [int] NULL,
	[hits_item_currencyCode] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_item_localItemRevenue] [int] NULL,
	[hits_contentInfo_contentDescription] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_name] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_version] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_id] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_installerId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_appInstallerId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_appName] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_appVersion] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_appId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_screenName] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_landingScreenName] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_exitScreenName] [varchar](800) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_appInfo_sceenDepth] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_exceptionInfo_description] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_exceptionInfo_isFatal] [bit] NULL,
	[hits_exceptionInfo_exceptions] [int] NULL,
	[hits_exceptionInfo_fatalExceptions] [int] NULL,
	[hits_eventInfo_eventCategory] [nvarchar](800) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_eventInfo_eventAction] [varchar](2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_eventInfo_eventLabel] [varchar](8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_eventInfo_eventValue] [int] NULL,
	[hits_product_productSKU] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_v2ProductName] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_v2ProductCategory] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_productVariant] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_productBrand] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_productRevenue] [int] NULL,
	[hits_product_localProductRevenue] [int] NULL,
	[hits_product_productPrice] [int] NULL,
	[hits_product_localProductPrice] [int] NULL,
	[hits_product_productQuantity] [int] NULL,
	[hits_product_productRefundAmount] [int] NULL,
	[hits_product_localProductRefundAmount] [int] NULL,
	[hits_product_isImpression] [bit] NULL,
	[hits_product_isClick] [bit] NULL,
	[hits_product_customDimensions_index] [int] NULL,
	[hits_product_customDimensions_value] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_customMetrics_index] [int] NULL,
	[hits_product_customMetrics_value] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_productListName] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_product_productListPosition] [int] NULL,
	[hits_promotion_promoId] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_promotion_promoName] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_promotion_promoCreative] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_promotion_promoPosition] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_prmotionActionInfo_promoIsView] [bit] NULL,
	[hits_prmotionActionInfo_promoIsClick] [bit] NULL,
	[hits_refund_refoundAmount] [int] NULL,
	[hits_refund_localRefundAmount] [int] NULL,
	[hits_eCommerceAction_action_type] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_eCommerceAction_step] [int] NULL,
	[hits_eCommerceAction_option] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_experiment_experimentId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_experiment_experimentVariant] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_publisher_dfpClicks] [int] NULL,
	[hits_publisher_dfpImpressions] [int] NULL,
	[hits_publisher_dfpMatchedQueries] [int] NULL,
	[hits_publisher_dfpMeasurableImpressions] [int] NULL,
	[hits_publisher_dfpQueries] [int] NULL,
	[hits_publisher_dfpRevenueCpm] [int] NULL,
	[hits_publisher_dfpRevenueCpc] [int] NULL,
	[hits_publisher_dfpViewableImpressions] [int] NULL,
	[hits_publisher_dfpPagesViewed] [int] NULL,
	[hits_publisher_adsenseBackfillDfpClicks] [int] NULL,
	[hits_publisher_adsenseBackfillDfpImpressions] [int] NULL,
	[hits_publisher_adsenseBackfillDfpMatchedQueries] [int] NULL,
	[hits_publisher_adsenseBackfillDfpMeasurableImpressions] [int] NULL,
	[hits_publisher_adsenseBackfillDfpQueries] [int] NULL,
	[hits_publisher_adsenseBackfillDfpRevenueCpm] [int] NULL,
	[hits_publisher_adsenseBackfillDfpRevenueCpc] [int] NULL,
	[hits_publisher_adsenseBackfillDfpViewableImpressions] [int] NULL,
	[hits_publisher_adsenseBackfillDfpPagesViewed] [int] NULL,
	[hits_publisher_adxBackfillDfpClicks] [int] NULL,
	[hits_publisher_adxBackfillDfpImpressions] [int] NULL,
	[hits_publisher_adxBackfillDfpMatchedQueries] [int] NULL,
	[hits_publisher_adxBackfillDfpMeasurableImpressions] [int] NULL,
	[hits_publisher_adxBackfillDfpQueries] [int] NULL,
	[hits_publisher_adxBackfillDfpRevenueCpm] [int] NULL,
	[hits_publisher_adxBackfillDfpRevenueCpc] [int] NULL,
	[hits_publisher_adxBackfillDfpViewableImpressions] [int] NULL,
	[hits_publisher_adxBackfillDfpPagesViewed] [int] NULL,
	[hits_publisher_adxClicks] [int] NULL,
	[hits_publisher_adxImpressions] [int] NULL,
	[hits_publisher_adxMatchedQueries] [int] NULL,
	[hits_publisher_adxMeasurableImpressions] [int] NULL,
	[hits_publisher_adxQueries] [int] NULL,
	[hits_publisher_adxRevenue] [int] NULL,
	[hits_publisher_adxViewableImpressions] [int] NULL,
	[hits_publisher_adxPagesViewed] [int] NULL,
	[hits_publisher_adsViewed] [int] NULL,
	[hits_publisher_adsUnitsViewed] [int] NULL,
	[hits_publisher_adsUnitsMatched] [int] NULL,
	[hits_publisher_viewableAdsViewed] [int] NULL,
	[hits_publisher_measurableAdsViewed] [int] NULL,
	[hits_publisher_adsPagesViewed] [int] NULL,
	[hits_publisher_adsClicked] [int] NULL,
	[hits_publisher_adsRevenue] [int] NULL,
	[hits_publisher_dfpAdGroup] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_publisher_dfpAdUnits] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_publisher_dfpNetworkId] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_custom_variables_index] [int] NULL,
	[hits_custom_variables_customVarName] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_custom_variables_ustomVarValue] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_customDimensions_index] [int] NULL,
	[hits_customDimensions_value] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_customMetrics_index] [int] NULL,
	[hits_customMetrics_value] [int] NULL,
	[hits_type] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_social_socialInteractionNetwork] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_social_socialInteractionAction] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_social_socialInteractions] [int] NULL,
	[hits_social_socialInteractionTarget] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_social_socialNetwork] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_social_uniqueSocialInteractions] [int] NULL,
	[hits_social_hasSocialSourceReferral] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_social_socialInteractionNetworkAction] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_latencyTracking_pageLoadSample] [int] NULL,
	[hits_latencyTracking_pageLoadTime] [int] NULL,
	[hits_latencyTracking_pageDownloadTime] [int] NULL,
	[hits_latencyTracking_redirectionTime] [int] NULL,
	[hits_latencyTracking_speedMetricsSample] [int] NULL,
	[hits_latencyTracking_domainLookupTime] [int] NULL,
	[hits_latencyTracking_serverConnectionTime] [int] NULL,
	[hits_latencyTracking_serverResponseTime] [int] NULL,
	[hits_latencyTracking_domLatencyMetricsSample] [int] NULL,
	[hits_latencyTracking_domInteractiveTime] [int] NULL,
	[hits_latencyTracking_domContentLoadedTime] [int] NULL,
	[hits_latencyTracking_userTimingValue] [int] NULL,
	[hits_latencyTracking_userTimingSample] [int] NULL,
	[hits_latencyTracking_userTimingVariable] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_latencyTracking_userTimingCategory] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_latencyTracking_userTimingLabel] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_sourcePropertyInfo_sourcePropertyDisplayName] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_sourcePropertyInfo_sourcePropertyTrackingId] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_contentGroup1] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_contentGroup2] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_contentGroup3] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_contentGroup4] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_contentGroup5] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_previousContentGroup1] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_previousContentGroup2] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_previousContentGroup3] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_previousContentGroup4] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_previousContentGroup5] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hits_contentGroup_contentGroupUniqueViews1] [int] NULL,
	[hits_contentGroup_contentGroupUniqueViews2] [int] NULL,
	[hits_contentGroup_contentGroupUniqueViews3] [int] NULL,
	[hits_contentGroup_contentGroupUniqueViews4] [int] NULL,
	[hits_contentGroup_contentGroupUniqueViews5] [int] NULL,
	[hits_dataSource] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fullVisitorId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[userId] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[channelGrouping] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[socialEngagementType] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EtlInsertTime] [datetime] NOT NULL,
	[userIdLong] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
