USE [CustomerIntelligence]
GO
/****** Object:  Table [domain].[CoCreate_Clean]    Script Date: 24-sept.-18 14:20:58 ******/
DROP TABLE IF EXISTS [domain].[CoCreate_Clean]
GO
/****** Object:  Table [domain].[CoCreate_Clean]    Script Date: 24-sept.-18 14:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [domain].[CoCreate_Clean](
	[Record ID] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Wave] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Campaign Status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email Address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Classification] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Customer Since] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Customer Since Month] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Company Size] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sector] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Subsector] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Source] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Accountant Code] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Accountant Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Reseller Code] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Reseller Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Solution] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Product] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Edition] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[User Since] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Package Since] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Hosting Environment] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Account Manager Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Send Email HUX] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Industry] [int] NULL,
	[User Type] [int] NULL,
	[NPS Verbatim] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Improvements] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Other Referral] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Tenure in Months] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Tenure Range] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Is Reseller] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Number of Administrations] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Number of Users] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MRR] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Conversion Requests] [int] NULL,
	[Consult Requests] [int] NULL,
	[Support Requests] [int] NULL,
	[User in Months] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Package in Months] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Main Contact] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Referral] [int] NULL,
	[Positive Referral] [int] NULL,
	[Negative Referral] [int] NULL,
	[NPS] [int] NULL,
	[BR Exact is an innovative company] [int] NULL,
	[BR Exact provides safe and reliable solutions] [int] NULL,
	[BR Exact is a trusted partner] [int] NULL,
	[BR Exact communicates in a clear manner] [int] NULL,
	[Continue Using] [int] NULL,
	[Buying Experience] [int] NULL,
	[Getting Started Experience] [int] NULL,
	[Product Experience] [int] NULL,
	[Customer Support Experience] [int] NULL,
	[Invoicing Experience] [int] NULL,
	[GS Ease of understanding how to get started] [int] NULL,
	[GS Training options available] [int] NULL,
	[GS Ease of migrating data to Exact Online] [int] NULL,
	[GS Availability of consulting services] [int] NULL,
	[BY Clarity of solution information available on our website pricing and features] [int] NULL,
	[BY Ease of comparing different solution options] [int] NULL,
	[BY Ease of identifying the solution to suit your needs] [int] NULL,
	[BY The sales person you spoke to advised you on the appropriate solution to meet your business needs] [int] NULL,
	[BY Ease of filling out order form on the website] [int] NULL,
	[PR Ease of use] [int] NULL,
	[PR The performance of the software speed] [int] NULL,
	[PR The solution works as expected] [int] NULL,
	[PR Content of help documentation] [int] NULL,
	[PR Add-ons offered in the App Centre] [int] NULL,
	[PR The range of available features and functionality] [int] NULL,
	[PR Communication on new features/functionality available] [int] NULL,
	[PR The solution meets your needs] [int] NULL,
	[PR Ease of changing your subscription/package] [int] NULL,
	[CS Ease of contacting support] [int] NULL,
	[CS Knowledge of support team] [int] NULL,
	[CS The time taken to solve your request] [int] NULL,
	[CS Frequency of updates on open support requests] [int] NULL,
	[IV Accuracy of invoices] [int] NULL,
	[IV Clarity of the information in the invoice] [int] NULL,
	[IV Speed of resolving invoicing issues] [int] NULL,
	[SectorCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubsectorCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SectorDescription] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubsectorDescription] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[panelistid] [int] NULL,
	[started] [datetime] NULL,
	[completed] [datetime] NULL,
	[branched_out] [datetime] NULL,
	[over_quota] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[modified] [datetime] NULL,
	[invite_status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[campaign_status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[culture] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key1] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key2] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key3] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_referer] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_user_agent] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_addr] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_host] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[initial_date] [datetime] NULL,
	[initial_status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder1_date] [datetime] NULL,
	[reminder1_status] [int] NULL,
	[reminder2_date] [datetime] NULL,
	[reminder2_status] [int] NULL,
	[reminder3_date] [datetime] NULL,
	[reminder3_status] [int] NULL,
	[reminder4_date] [datetime] NULL,
	[reminder4_status] [int] NULL,
	[thankyou_date] [datetime] NULL,
	[thankyou_status] [int] NULL,
	[close_date] [datetime] NULL,
	[last_page] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fi_loaded] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[last_page_number] [int] NULL,
	[modifier] [int] NULL,
	[PackageCodeWhenLastModified] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SolutionWhenLastModified] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductWhenLastModified] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EditionWhenLastModified] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MRRWhenLastModified] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TenureWhenLastModified] [int] NULL,
	[NumberOfUsersWhenLastModified] [int] NULL,
	[NumberOfAvailableAdministrationsWhenLastModified] [int] NULL,
	[Wave Responded] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[American NPS PromPasDet] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[European NPS PromPasDet] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[US Promoter] [int] NULL,
	[US Passive] [int] NULL,
	[US Detractor] [int] NULL,
	[EU Promoter] [int] NULL,
	[EU Passive] [int] NULL,
	[EU Detractor] [int] NULL,
	[NPS respondent?] [int] NULL,
	[Country] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Title] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[First name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Middle name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Last name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Gender] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Account Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Consider yourself] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Exact Ideas] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Exact Ideas rating] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
