USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[Marketing_AccountantProspects]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[Marketing_AccountantProspects]
GO
/****** Object:  Table [raw].[Marketing_AccountantProspects]    Script Date: 24-sept.-18 14:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[Marketing_AccountantProspects](
	[ID] [uniqueidentifier] NOT NULL,
	[Environment] [nvarchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Name] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChamberOfCommerceOld] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HKeyTelemarketingAgency] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Street] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StreetNumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StreetNumberExtension] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Postcode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TradingAddress] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TradingAdressStreet] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TradingsAddressStreetNumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TradingAddressStreetNumberExtension] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TradingAddressPostcode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TradingAddressCity] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusinessPhoneNumber] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MobilePhoneNumber] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DoNotCall] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompanySize] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntergrationDate] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreditRating] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreditLimit] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Revenue] [float] NULL,
	[BusinessTypeDescription] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusinessCode] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountancyTypeDescription] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusinessStatus] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[URL] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName1] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName1] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName2] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName2] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName3] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName3] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName4] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName4] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName5] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName5] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EstablishmentNumber] [int] NULL,
	[RSIN] [int] NULL,
	[LegalCode] [int] NULL,
	[StarterIndicator] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuthorizedOfficial] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuthorizedOfficialGender] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuthorizedOfficialLanguage] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CoropAreaPrimary] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AffiliateIndicator] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsertedTimestamp] [datetime] NULL,
	[BusinessPhoneNumber_DNC] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MobilePhoneNumber_DNC] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChamberOfCommerce] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChamberOfCommerce8] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EnterpriseNumber] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompanySizeDescription] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerFirstName] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerLastName] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerFunctionCode] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerFunction] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerLanguage] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerGenderCode] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerGender] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManagerEmail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
