USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[Marketing_BE_Accountants_BikashMatchv4]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[Marketing_BE_Accountants_BikashMatchv4]
GO
/****** Object:  Table [raw].[Marketing_BE_Accountants_BikashMatchv4]    Script Date: 24-sept.-18 14:22:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[Marketing_BE_Accountants_BikashMatchv4](
	[Row] [float] NULL,
	[index] [float] NULL,
	[BE_enterprise] [float] NULL,
	[EOL_klantcode] [float] NULL
) ON [PRIMARY]
GO
