USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[HOST_CIG_Documents]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[HOST_CIG_Documents]
GO
/****** Object:  Table [raw].[HOST_CIG_Documents]    Script Date: 24-sept.-18 14:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[HOST_CIG_Documents](
	[ID] [uniqueidentifier] NOT NULL,
	[Parent] [uniqueidentifier] NULL,
	[Category] [uniqueidentifier] NULL,
	[ViewDate] [datetime] NOT NULL,
	[Subject] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Type] [int] NOT NULL,
	[Division] [int] NOT NULL,
	[Status] [smallint] NOT NULL,
	[Item] [uniqueidentifier] NULL,
	[UserID] [uniqueidentifier] NULL,
	[Account] [uniqueidentifier] NULL,
	[NewsType] [tinyint] NOT NULL,
	[Language] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EntryID] [uniqueidentifier] NULL,
	[Owner] [uniqueidentifier] NULL,
	[OwnerType] [smallint] NULL,
	[OwnerTypeValue] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VoteCount] [int] NULL,
	[VoteSum] [int] NULL,
	[ItemNumber] [uniqueidentifier] NULL,
	[FPIntroText] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contact] [uniqueidentifier] NULL,
	[PaymentReference] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[YourRef] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[QuotationNumber] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContractNumber] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Currency] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DocumentDate] [datetime] NULL,
	[Layout] [uniqueidentifier] NULL,
	[TemplateType] [int] NOT NULL,
	[syscreated] [datetime] NOT NULL,
	[syscreator] [uniqueidentifier] NULL,
	[sysmodified] [datetime] NOT NULL,
	[sysmodifier] [uniqueidentifier] NULL,
	[HID] [int] NOT NULL,
	[DDView] [uniqueidentifier] NULL,
	[Project] [uniqueidentifier] NULL,
	[ItemGroup] [uniqueidentifier] NULL,
	[Share] [int] NOT NULL,
	[Employee] [uniqueidentifier] NULL,
	[Opportunity] [uniqueidentifier] NULL,
	[Lead] [uniqueidentifier] NULL,
	[EmailImportance] [int] NULL,
	[EmailSent] [tinyint] NOT NULL,
	[Subscription] [uniqueidentifier] NULL,
	[StockEntryNumber] [int] NULL,
	[Pages] [smallint] NULL,
	[OrderNumber] [int] NULL,
	[Campaign] [uniqueidentifier] NULL,
	[SourceMailMessageID] [uniqueidentifier] NULL,
	[Asset] [uniqueidentifier] NULL,
	[Source] [smallint] NOT NULL,
	[ShopOrderNumber] [int] NULL,
	[DocumentFolder] [uniqueidentifier] NULL,
	[Extension] [uniqueidentifier] NULL,
	[ItemRoutingStep] [uniqueidentifier] NULL,
	[ItemMaterial] [uniqueidentifier] NULL,
	[CIGCopyTime] [datetime] NULL,
	[Environment] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CIGProcessed] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
