USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[Verint_Relationship_Survey]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[Verint_Relationship_Survey]
GO
/****** Object:  Table [raw].[Verint_Relationship_Survey]    Script Date: 24-sept.-18 14:22:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[Verint_Relationship_Survey](
	[LatestImportDate] [datetime] NULL,
	[recordid] [bigint] NULL,
	[Q35_1] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_1] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_2] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_3] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_4] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_5] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_6] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_7] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_8] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_9] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_10] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_11] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_12] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_13] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_14] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_15] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_16] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_17] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_18] [int] NULL,
	[Q36_19] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_20] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_21] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_22] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_23] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_24] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_25] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_26] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_27] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_28] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_29] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_30] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_31] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_32] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_33] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_34] [int] NULL,
	[Q36_35] [int] NULL,
	[Q36_36] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_37] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_38] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_39] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_40] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_41] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_42] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_1] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_2] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_3] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_4] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_5] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_6] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q38_1] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_1] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_2] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_3] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_4] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_5] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_6] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_7] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_8] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_9] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_10] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_11] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_12] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_13] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_14] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q40_1] [int] NULL,
	[Q40_2] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q7] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q8] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q9] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q10] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q11] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q31] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q20] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q21] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q22] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q23] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q2] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q25] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q3] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q4] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q33] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q5] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q6] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q24] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q19] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q12] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q27] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q32] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q15] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q30] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q16] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q17] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q18] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[panelistid] [int] NULL,
	[started] [datetime] NULL,
	[completed] [datetime] NULL,
	[branched_out] [datetime] NULL,
	[over_quota] [datetime] NULL,
	[modified] [datetime] NULL,
	[invite_status] [int] NULL,
	[campaign_status] [int] NULL,
	[culture] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key1] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key2] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key3] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_referer] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_user_agent] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_addr] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_host] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[initial_date] [datetime] NULL,
	[initial_status] [int] NULL,
	[reminder1_date] [datetime] NULL,
	[reminder1_status] [int] NULL,
	[reminder2_date] [datetime] NULL,
	[reminder2_status] [int] NULL,
	[reminder3_date] [datetime] NULL,
	[reminder3_status] [int] NULL,
	[reminder4_date] [datetime] NULL,
	[reminder4_status] [int] NULL,
	[thankyou_date] [datetime] NULL,
	[thankyou_status] [int] NULL,
	[close_date] [datetime] NULL,
	[last_page] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fi_loaded] [smallint] NULL,
	[last_page_number] [int] NULL,
	[modifier] [int] NULL,
	[device_type] [tinyint] NULL,
	[ua_family] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ua_majorver] [int] NULL,
	[os_name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[os_family] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_long] [float] NULL,
	[iploc_lat] [float] NULL,
	[iploc_city] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_state] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_country] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_zipcode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
