USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[Verint_EOL_TRX_Buy_Process_Survey]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[Verint_EOL_TRX_Buy_Process_Survey]
GO
/****** Object:  Table [raw].[Verint_EOL_TRX_Buy_Process_Survey]    Script Date: 24-sept.-18 14:22:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[Verint_EOL_TRX_Buy_Process_Survey](
	[recordid] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_7] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_8] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_9] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_10] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_11] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_12] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_13] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_14] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_15] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_16] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_17] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_18] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_19] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_20] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_21] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_22] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_23] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_24] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_25] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_26] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_27] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_28] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_29] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_30] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_31] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_32] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_33] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_34] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_35] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_36] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_37] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_38] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_39] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_40] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_41] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34_42] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q35_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_7] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_8] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_9] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_10] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_11] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_12] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_13] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37_14] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q38_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q2SPECIFIED_12] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_A_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29SPECIFIED_9] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q3_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q3_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q3_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q3_A_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q11_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q11_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q11_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q11_A_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q12] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13_A_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13_A_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13_A_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q15_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q15_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q15_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q16] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q19] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q22] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q23] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[panelistid] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[started] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[completed] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[branched_out] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[over_quota] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[modified] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[invite_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[campaign_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[culture] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_referer] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_user_agent] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_addr] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_host] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[initial_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[initial_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder1_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder1_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder2_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder2_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder3_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder3_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder4_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder4_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[thankyou_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[thankyou_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[close_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[last_page] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fi_loaded] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[last_page_number] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[modifier] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_type] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ua_family] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ua_majorver] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[os_name] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[os_family] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_long] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_lat] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_city] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_state] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_country] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_zipcode] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LatestImportDate] [datetime] NULL
) ON [PRIMARY]
GO
