USE [CustomerIntelligence]
GO
/****** Object:  Index [IX_raw.Accounts_IsAnonymized]    Script Date: 24-sept.-18 14:20:57 ******/
DROP INDEX IF EXISTS [IX_raw.Accounts_IsAnonymized] ON [raw].[Accounts]
GO
/****** Object:  Index [IX_raw.Accounts_ID]    Script Date: 24-sept.-18 14:20:57 ******/
DROP INDEX IF EXISTS [IX_raw.Accounts_ID] ON [raw].[Accounts] WITH ( ONLINE = OFF )
GO
/****** Object:  Table [raw].[Accounts]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[Accounts]
GO
/****** Object:  Table [raw].[Accounts]    Script Date: 24-sept.-18 14:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[Accounts](
	[Division] [int] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[CreditLineSales] [float] NOT NULL,
	[CreditLinePurchase] [float] NOT NULL,
	[DiscountSales] [float] NOT NULL,
	[DiscountPurchase] [float] NOT NULL,
	[IsBank] [bit] NOT NULL,
	[IsPilot] [bit] NOT NULL,
	[IsSupplier] [bit] NOT NULL,
	[IsSales] [bit] NOT NULL,
	[IsPurchase] [bit] NOT NULL,
	[IsReseller] [bit] NOT NULL,
	[IsAccountant] [tinyint] NOT NULL,
	[IsCompetitor] [tinyint] NOT NULL,
	[IsMember] [bit] NOT NULL,
	[Blocked] [bit] NOT NULL,
	[PurchaseOrderConfirmation] [bit] NOT NULL,
	[Reminder] [bit] NOT NULL,
	[InvoiceCopies] [smallint] NOT NULL,
	[BackOrders] [bit] NOT NULL,
	[Attention] [bit] NOT NULL,
	[IsAgency] [tinyint] NOT NULL,
	[UseTimeSpecification] [tinyint] NOT NULL,
	[IsMailing] [tinyint] NOT NULL,
	[CostPaid] [tinyint] NOT NULL,
	[SeparateInvPerProject] [tinyint] NOT NULL,
	[SeparateInvPerSubscription] [tinyint] NOT NULL,
	[ConsolidationScenario] [tinyint] NOT NULL,
	[SecurityLevel] [int] NOT NULL,
	[syscreated] [datetime] NOT NULL,
	[CanDropShip] [bit] NOT NULL,
	[sysmodified] [datetime] NOT NULL,
	[sysmodifier] [uniqueidentifier] NULL,
	[SalesCurrency] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SBICode] [uniqueidentifier] NULL,
	[DateModifiedByCoC] [date] NULL,
	[syscreator] [uniqueidentifier] NULL,
	[DunsNumber] [nvarchar](9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreditManagementScenario] [uniqueidentifier] NULL,
	[CreditManagementStatus] [uniqueidentifier] NULL,
	[GLAccountSales] [uniqueidentifier] NULL,
	[GLAccountPurchase] [uniqueidentifier] NULL,
	[GLAR] [uniqueidentifier] NULL,
	[GLAP] [uniqueidentifier] NULL,
	[ControlledDate] [datetime] NULL,
	[WebService] [uniqueidentifier] NULL,
	[PurchaseCurrency] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProfitPercentage] [float] NULL,
	[LaborMarkupPercentage] [float] NULL,
	[PurchaseMarkupPercentage] [float] NULL,
	[QuotationMarkupType] [smallint] NULL,
	[TaxReferenceNumber] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SepaDDCreditorIdentifier] [nvarchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PurchaseMarkupPercentageProject] [float] NULL,
	[ChamberOfCommerceEstablishment] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SirenNumber] [nvarchar](9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VatSystem] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Extension] [uniqueidentifier] NULL,
	[Geolocation] [geography] NULL,
	[TradeName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EstablishedDate] [date] NULL,
	[RSIN] [nvarchar](9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CIGCopyTime] [datetime] NULL,
	[Environment] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CIGProcessed] [bit] NULL,
	[ShippingMethod] [uniqueidentifier] NULL,
	[ShippingLeadDays] [int] NULL,
	[PurchaseLeadDays] [int] NULL,
	[LeadSource] [uniqueidentifier] NULL,
	[CodeAtSupplier] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CheckDate] [datetime] NULL,
	[CreditManager] [uniqueidentifier] NULL,
	[CreditabilityScenario] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VATLiability] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CustomerSince] [datetime] NULL,
	[PriceList] [uniqueidentifier] NULL,
	[Accountant] [uniqueidentifier] NULL,
	[AccountantAccountManager] [uniqueidentifier] NULL,
	[SalesVATCode] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PurchaseVATCode] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntraStatSystem] [nchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntraStatTransactionA] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntraStatTransactionB] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntraStatTransportMethod] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntraStatDeliveryTerm] [nchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntraStatArea] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DatabaseID] [uniqueidentifier] NULL,
	[Language] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MainDivision] [int] NULL,
	[CustomerDivision] [int] NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[PaymentConditionSales] [nchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PaymentConditionPurchase] [nchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SalesOrderConfirmation] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Code] [nchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SearchCode] [nchar](9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MainContact] [uniqueidentifier] NULL,
	[Parent] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TimeZone] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Type] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StatusSince] [datetime] NULL,
	[Rating] [int] NULL,
	[Origin] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Document] [uniqueidentifier] NULL,
	[Classification] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WebAccessSince] [datetime] NULL,
	[ProcessedByBackgroundJob] [bit] NULL,
	[RecepientOfCommissions] [bit] NULL,
	[Costcenter] [nchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Currency] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InvoiceAccount] [uniqueidentifier] NULL,
	[Postcode] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[State] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sector] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Subsector] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountManager] [uniqueidentifier] NULL,
	[Reseller] [uniqueidentifier] NULL,
	[VATNumber] [nvarchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChamberOfCommerce] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ActivitySector] [uniqueidentifier] NULL,
	[ActivitySubSector] [uniqueidentifier] NULL,
	[CompanySize] [uniqueidentifier] NULL,
	[BusinessType] [uniqueidentifier] NULL,
	[AddressLine1] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AddressLine2] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AddressLine3] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PhoneExtension] [nvarchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PhoneSales] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PhoneHelpdesk] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Website] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsAnonymized] [tinyint] NULL,
	[LeadPurpose] [uniqueidentifier] NULL,
	[AnonymisationSource] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_raw.Accounts_ID]    Script Date: 24-sept.-18 14:21:50 ******/
CREATE CLUSTERED INDEX [IX_raw.Accounts_ID] ON [raw].[Accounts]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_raw.Accounts_IsAnonymized]    Script Date: 24-sept.-18 14:22:35 ******/
CREATE NONCLUSTERED INDEX [IX_raw.Accounts_IsAnonymized] ON [raw].[Accounts]
(
	[IsAnonymized] DESC
)
INCLUDE ( 	[ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
