USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[Verint_EOL_TRX_Consultancy_Survey]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[Verint_EOL_TRX_Consultancy_Survey]
GO
/****** Object:  Table [raw].[Verint_EOL_TRX_Consultancy_Survey]    Script Date: 24-sept.-18 14:22:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[Verint_EOL_TRX_Consultancy_Survey](
	[recordid] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_7] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_8] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_9] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_10] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_11] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_12] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_13] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_14] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_15] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_16] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_17] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_18] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_19] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_20] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_21] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_22] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_23] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_24] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_25] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_26] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_27] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_28] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_29] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_30] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_31] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_32] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_33] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_34] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_35] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_36] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_37] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_38] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_39] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_40] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_41] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26_42] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q27_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_7] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_8] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_9] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_10] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_11] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_12] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_13] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q29_14] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q30_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q31_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q31_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1_A_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1_A_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q1_A_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_4] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_5] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_6] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_7] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_8] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14_A_9] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q35] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q11] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q15] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[panelistid] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[started] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[completed] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[branched_out] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[over_quota] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[modified] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[invite_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[campaign_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[culture] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key1] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key2] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_key3] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_referer] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[http_user_agent] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_addr] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remote_host] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[initial_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[initial_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder1_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder1_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder2_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder2_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder3_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder3_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder4_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reminder4_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[thankyou_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[thankyou_status] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[close_date] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[last_page] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fi_loaded] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[last_page_number] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[modifier] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_type] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ua_family] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ua_majorver] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[os_name] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[os_family] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_long] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_lat] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_city] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_state] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_country] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iploc_zipcode] [varchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LatestImportDate] [datetime] NULL
) ON [PRIMARY]
GO
