USE [CustomerIntelligence]
GO
/****** Object:  Table [raw].[ContractData_ContractStatistics]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[ContractData_ContractStatistics]
GO
/****** Object:  Table [raw].[ContractData_ContractStatistics]    Script Date: 24-sept.-18 14:21:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[ContractData_ContractStatistics](
	[ID] [uniqueidentifier] NOT NULL,
	[Environment] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Code] [nvarchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChamberOfCommerce] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VATNumber] [nvarchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Postcode] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[State] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountManager] [uniqueidentifier] NULL,
	[LeadSource] [uniqueidentifier] NULL,
	[Reseller] [uniqueidentifier] NULL,
	[Blocked] [tinyint] NULL,
	[SectorCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SectorDescription] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubSectorCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubSectorDescription] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompSizeCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompSizeDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusTypeCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusTypeDescription] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountClassificationCode] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountClassificationDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LeadSourceCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LeadSourceDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsAccountant] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountantOrLinked] [tinyint] NOT NULL,
	[EntrepreneurAccountantLinked] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountantCode] [nvarchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountantName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountManagerAccountant] [uniqueidentifier] NULL,
	[ResellerCode] [nvarchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ResellerName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContractNumber] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContractType] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[FinalDate] [date] NULL,
	[EventYearMonth] [int] NULL,
	[EventYear] [int] NULL,
	[EventMonth] [int] NULL,
	[EventDate] [date] NULL,
	[EventType] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EventDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InflowOutflow] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Item] [uniqueidentifier] NULL,
	[Itemcode] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ItemDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ItemType] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Package] [uniqueidentifier] NULL,
	[PackageCode] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LinePackage] [tinyint] NOT NULL,
	[NumberOfAdministrations] [int] NULL,
	[Quantity] [int] NULL,
	[ContractLineValue] [float] NULL,
	[ValuePerMonth] [float] NULL,
	[ValuePerYear] [float] NULL,
	[AccountManagerCode] [int] NULL,
	[AccountManagerName] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusinessLineCode] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusinessLineDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PackageDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountClassification] [uniqueidentifier] NULL,
	[NumberOfUsers] [int] NULL,
	[AccountManagerAccountantCode] [int] NULL,
	[AccountManagerAccountantName] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContractLineValueDC] [float] NULL,
	[ValuePerMonthDC] [float] NULL,
	[ValuePerYearDC] [float] NULL,
	[ExchangeRate] [float] NULL,
	[ItemBasePricePerMonth] [float] NULL,
	[ItemBasePricePerYear] [float] NULL,
	[AdministrationsInUse] [int] NULL,
	[CampaignName] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CampaignSource] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CampaignMedium] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CampaignTerm] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CampaignContent] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
