USE [CustomerIntelligence]
GO
/****** Object:  Index [ClX_HOST_CIG_Requests_HID_CIGCopyTime]    Script Date: 24-sept.-18 14:20:57 ******/
DROP INDEX IF EXISTS [ClX_HOST_CIG_Requests_HID_CIGCopyTime] ON [raw].[HOST_CIG_Requests] WITH ( ONLINE = OFF )
GO
/****** Object:  Table [raw].[HOST_CIG_Requests]    Script Date: 24-sept.-18 14:20:57 ******/
DROP TABLE IF EXISTS [raw].[HOST_CIG_Requests]
GO
/****** Object:  Table [raw].[HOST_CIG_Requests]    Script Date: 24-sept.-18 14:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [raw].[HOST_CIG_Requests](
	[Status] [smallint] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[HID] [int] NOT NULL,
	[TypeDescription] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Account] [uniqueidentifier] NULL,
	[Contact] [uniqueidentifier] NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RequestComments] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WorkflowComments] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeBoolField_01] [bit] NULL,
	[FreeBoolField_03] [bit] NULL,
	[FreeBoolField_04] [bit] NULL,
	[FreeNumberField_01] [float] NULL,
	[FreeIntField_01] [int] NULL,
	[FreeTextField_01] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_02] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_03] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_10] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_13] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_14] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CIGCopyTime] [datetime] NULL,
	[Environment] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CIGProcessed] [bit] NULL,
	[FreeBoolField_02] [bit] NULL,
	[FreeBoolField_05] [bit] NULL,
	[FreeIntField_02] [int] NULL,
	[FreeIntField_03] [int] NULL,
	[FreeIntField_04] [int] NULL,
	[FreeTextField_04] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_05] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_06] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_07] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_08] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_09] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_11] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_12] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreeTextField_15] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Item_1] [uniqueidentifier] NULL,
	[FreeDateField_01] [datetime] NULL,
	[FreeDateField_02] [datetime] NULL,
	[FreeDateField_03] [datetime] NULL,
	[FreeDateField_04] [datetime] NULL,
	[FreeDateField_05] [datetime] NULL,
	[FreeGuidField_01] [uniqueidentifier] NULL,
	[FreeGuidField_02] [uniqueidentifier] NULL,
	[FreeGuidField_03] [uniqueidentifier] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Type] [uniqueidentifier] NULL,
	[UserID] [uniqueidentifier] NULL,
	[Hours] [float] NULL,
	[Days] [float] NULL,
	[StartDateActual] [datetime] NULL,
	[EndDateActual] [datetime] NULL,
	[HoursActual] [float] NULL,
	[DaysActual] [float] NULL,
	[Amount] [float] NULL,
	[AmountFC] [float] NULL,
	[AmountActual] [float] NULL,
	[CurrencyActual] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AmountFCActual] [float] NULL,
	[Employee] [uniqueidentifier] NULL,
	[Quantity_1] [float] NULL,
	[QuantityActual_1] [float] NULL,
	[ItemNumber_1] [uniqueidentifier] NULL,
	[Document] [uniqueidentifier] NULL,
	[Item_2] [uniqueidentifier] NULL,
	[Quantity_2] [float] NULL,
	[QuantityActual_2] [float] NULL,
	[ItemNumber_2] [uniqueidentifier] NULL,
	[HelpFile] [uniqueidentifier] NULL,
	[Buildup] [bit] NULL,
	[FinancialEntry] [uniqueidentifier] NULL,
	[YourRef] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Project] [uniqueidentifier] NULL,
	[Approver] [uniqueidentifier] NULL,
	[Approved] [datetime] NULL,
	[Processor] [uniqueidentifier] NULL,
	[Realizer] [uniqueidentifier] NULL,
	[Realized] [datetime] NULL,
	[StatusChanged] [datetime] NULL,
	[Priority] [int] NULL,
	[SecurityLevel] [int] NULL,
	[Division] [int] NULL,
	[Reminder] [smallint] NULL,
	[Location] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ResubmitStatus] [smallint] NULL,
	[XBRLDocument] [uniqueidentifier] NULL,
	[HelpItem] [uniqueidentifier] NULL,
	[Opportunity] [uniqueidentifier] NULL,
	[Lead] [uniqueidentifier] NULL,
	[PayrollComponent] [uniqueidentifier] NULL,
	[PayrollYear] [int] NULL,
	[PayrollPeriod] [int] NULL,
	[MultipleEntryID] [uniqueidentifier] NULL,
	[MultipleEntryCols] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Campaign] [uniqueidentifier] NULL,
	[ErrorLogID] [int] NULL,
	[FreeNumberField_02] [float] NULL,
	[FreeNumberField_03] [float] NULL,
	[FreeNumberField_04] [float] NULL,
	[FreeNumberField_05] [float] NULL,
	[FreeIntField_05] [int] NULL,
	[FreeGuidField_04] [uniqueidentifier] NULL,
	[FreeGuidField_05] [uniqueidentifier] NULL,
	[FreeGuidField_06] [uniqueidentifier] NULL,
	[FreeGuidField_07] [uniqueidentifier] NULL,
	[FreeGuidField_08] [uniqueidentifier] NULL,
	[FreeGuidField_09] [uniqueidentifier] NULL,
	[FreeGuidField_10] [uniqueidentifier] NULL,
	[Message] [uniqueidentifier] NULL,
	[PayrollPeriodFrequency] [int] NULL,
	[SubStatus] [int] NULL,
	[ProjectWBS] [uniqueidentifier] NULL,
	[RequestHID] [int] NULL,
	[Currency] [nchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Processed] [datetime] NULL,
	[syscreated] [datetime] NULL,
	[syscreator] [uniqueidentifier] NULL,
	[sysmodified] [datetime] NULL,
	[sysmodifier] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [ClX_HOST_CIG_Requests_HID_CIGCopyTime]    Script Date: 24-sept.-18 14:22:16 ******/
CREATE CLUSTERED INDEX [ClX_HOST_CIG_Requests_HID_CIGCopyTime] ON [raw].[HOST_CIG_Requests]
(
	[HID] ASC,
	[CIGCopyTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
