USE [CustomerIntelligence]
GO
/****** Object:  View [raw].[Eloqua_Contacts_Latest2]    Script Date: 24-sept.-18 14:31:57 ******/
DROP VIEW IF EXISTS [raw].[Eloqua_Contacts_Latest2]
GO
/****** Object:  View [raw].[Eloqua_Contacts_Latest2]    Script Date: 24-sept.-18 14:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [raw].[Eloqua_Contacts_Latest2]
AS
	WITH Eloqua_Contacts_Latest
	(EmailAddress, FirstName, LastName, Company, EmailDisplayName, Address1, Address2, Address3, City, StateOrProvince, ZipOrPostalCode, Country, BusinessPhone, MobilePhone, Fax, Title, Salutation, Salesperson, SFDCContactID, SFDCLeadID, DateCreated, DateModified, EloquaContactID, SFDCAccountID, LastModifiedByCRMSystem, LastSFDCCampaignID, LastSFDCCampaignStatus, CompanyRevenue, SFDCEmailOptOut, LeadSourceMostRecent, LeadSourceOriginal, Industry, AnnualRevenue, LeadStatus, JobRole, LeadScore_HighValueWebsiteContent, LeadScodeDate_EngagementMostRecent, IntegratedMarketingAndSalesFunnel, ProductSolutionOfInterest, Region, PURLName_DefaultHypersite, LeadRatingCombined, EmailAddressDomain, FirstAndLastName, CompanySize, LeadScore_LastHighTouchEventDate, LeadRating_ProfileExplicit, LeadRating_EngagementImplicit, LeadScore_ProfileExplicit, LeadScore_EngagementImplicit, LeadScoreDate_ProfileMostRecent, Employees, Territory, MD5HashedEmailAddress, SHA256HashedEmailAddress, MD5HashedBusinessPhone, SHA256HashedBusinessPhone, MD5HashedMobilePhone, SHA256HashedMobilePhone, LeadScore, PURLName, EOLContactID, EOLAccountCode, EOLAccountID, EOLAdministration, BirthDate, FullName, MiddleName, Gender, Initials, MainContact, CompanyName, FirstNameForm, LastNameForm, BusinessPhoneForm, MobilePhoneForm, ProbablyAccountantForm, PCOptOutDate, PCOptInDate, JobTitle, Language, LanguageForm, JobTitleForm, TitleForm, UserType, PCProjectManagement, PCTimeAndBilling, PCManufacturing, PCWholesale, PCAccountancy, PCAccounting, DecisionMakingRoleForm, ZipOrPostalCodeForm, CompanySizeForm, OpportunityCampaignCode, OpportunityLeadType, OpportunityNotesOld, OpportunityProjectName, OpportunityCategory, PCOptOutReason, PCOptOutReasonOther, EOLOpportunityID, Comments, CompanyEmail, WebsiteForm, PCOptIn, EGBlogUpdates, EGEvents, EGNewsletter, EGProductInformation, EGThirdPartyEmails, IMSFStage, IMSFStatus, IMSFStageSince, IMSFStatusSince, IMSFSince, UserStatus, UserStartDate, UserEndDate, SpamControl, CountryForm, CreatedBy, UpdatedBy, RecordType, BusinessPhoneExtension, LastModifiedByEOLSystem, CRMSubscribed, SubsectorForm, DUNSNumber, ChamberOfCommerce, BusinessType, EGEmailService, SALControl, Validation, ValidationDate, TouchPoint, PaidLead, FormSingleOptIn, FormOptIn, ExactUniqueID, FormTitleRSFormProJoomla, FormOpportunityOptOut, FormOpportunityCategory, FormAssessmentResult, FormLanguageForm, FormSourceLanguage, LastLoginDate, OpportunityNotes, MarketingFunnel, MarketingFunnelDate, DataCleansing, WebinarDate, PCEndorsement, OpportunityDescription, OpportunityResellerCode, GAPGoogleID, OpportunityType, OpportunityChannel, OpportunityAccountantCode, RN)
	AS
	(
		SELECT EmailAddress, FirstName, LastName, Company, EmailDisplayName, Address1, Address2, Address3, City, StateOrProvince, ZipOrPostalCode, Country, BusinessPhone, MobilePhone, Fax, Title, Salutation, Salesperson, SFDCContactID, SFDCLeadID, DateCreated, DateModified, EloquaContactID, SFDCAccountID, LastModifiedByCRMSystem, LastSFDCCampaignID, LastSFDCCampaignStatus, CompanyRevenue, SFDCEmailOptOut, LeadSourceMostRecent, LeadSourceOriginal, Industry, AnnualRevenue, LeadStatus, JobRole, LeadScore_HighValueWebsiteContent, LeadScodeDate_EngagementMostRecent, IntegratedMarketingAndSalesFunnel, ProductSolutionOfInterest, Region, PURLName_DefaultHypersite, LeadRatingCombined, EmailAddressDomain, FirstAndLastName, CompanySize, LeadScore_LastHighTouchEventDate, LeadRating_ProfileExplicit, LeadRating_EngagementImplicit, LeadScore_ProfileExplicit, LeadScore_EngagementImplicit, LeadScoreDate_ProfileMostRecent, Employees, Territory, MD5HashedEmailAddress, SHA256HashedEmailAddress, MD5HashedBusinessPhone, SHA256HashedBusinessPhone, MD5HashedMobilePhone, SHA256HashedMobilePhone, LeadScore, PURLName, EOLContactID, EOLAccountCode, EOLAccountID, EOLAdministration, BirthDate, FullName, MiddleName, Gender, Initials, MainContact, CompanyName, FirstNameForm, LastNameForm, BusinessPhoneForm, MobilePhoneForm, ProbablyAccountantForm, PCOptOutDate, PCOptInDate, JobTitle, Language, LanguageForm, JobTitleForm, TitleForm, UserType, PCProjectManagement, PCTimeAndBilling, PCManufacturing, PCWholesale, PCAccountancy, PCAccounting, DecisionMakingRoleForm, ZipOrPostalCodeForm, CompanySizeForm, OpportunityCampaignCode, OpportunityLeadType, OpportunityNotesOld, OpportunityProjectName, OpportunityCategory, PCOptOutReason, PCOptOutReasonOther, EOLOpportunityID, Comments, CompanyEmail, WebsiteForm, PCOptIn, EGBlogUpdates, EGEvents, EGNewsletter, EGProductInformation, EGThirdPartyEmails, IMSFStage, IMSFStatus, IMSFStageSince, IMSFStatusSince, IMSFSince, UserStatus, UserStartDate, UserEndDate, SpamControl, CountryForm, CreatedBy, UpdatedBy, RecordType, BusinessPhoneExtension, LastModifiedByEOLSystem, CRMSubscribed, SubsectorForm, DUNSNumber, ChamberOfCommerce, BusinessType, EGEmailService, SALControl, Validation, ValidationDate, TouchPoint, PaidLead, FormSingleOptIn, FormOptIn, ExactUniqueID, FormTitleRSFormProJoomla, FormOpportunityOptOut, FormOpportunityCategory, FormAssessmentResult, FormLanguageForm, FormSourceLanguage, LastLoginDate, OpportunityNotes, MarketingFunnel, MarketingFunnelDate, DataCleansing, WebinarDate, PCEndorsement, OpportunityDescription, OpportunityResellerCode, GAPGoogleID, OpportunityType, OpportunityChannel, OpportunityAccountantCode,
			ROW_NUMBER() OVER (PARTITION BY EmailAddress ORDER BY DateModified DESC) AS RN
		FROM [raw].[Eloqua_Contacts]
	)

	SELECT EmailAddress, FirstName, LastName, Company, EmailDisplayName, Address1, Address2, Address3, City, StateOrProvince, ZipOrPostalCode, Country, BusinessPhone, MobilePhone, Fax, Title, Salutation, Salesperson, SFDCContactID, SFDCLeadID, DateCreated, DateModified, EloquaContactID, SFDCAccountID, LastModifiedByCRMSystem, LastSFDCCampaignID, LastSFDCCampaignStatus, CompanyRevenue, SFDCEmailOptOut, LeadSourceMostRecent, LeadSourceOriginal, Industry, AnnualRevenue, LeadStatus, JobRole, LeadScore_HighValueWebsiteContent, LeadScodeDate_EngagementMostRecent, IntegratedMarketingAndSalesFunnel, ProductSolutionOfInterest, Region, PURLName_DefaultHypersite, LeadRatingCombined, EmailAddressDomain, FirstAndLastName, CompanySize, LeadScore_LastHighTouchEventDate, LeadRating_ProfileExplicit, LeadRating_EngagementImplicit, LeadScore_ProfileExplicit, LeadScore_EngagementImplicit, LeadScoreDate_ProfileMostRecent, Employees, Territory, MD5HashedEmailAddress, SHA256HashedEmailAddress, MD5HashedBusinessPhone, SHA256HashedBusinessPhone, MD5HashedMobilePhone, SHA256HashedMobilePhone, LeadScore, PURLName, EOLContactID, EOLAccountCode, EOLAccountID, EOLAdministration, BirthDate, FullName, MiddleName, Gender, Initials, MainContact, CompanyName, FirstNameForm, LastNameForm, BusinessPhoneForm, MobilePhoneForm, ProbablyAccountantForm, PCOptOutDate, PCOptInDate, JobTitle, Language, LanguageForm, JobTitleForm, TitleForm, UserType, PCProjectManagement, PCTimeAndBilling, PCManufacturing, PCWholesale, PCAccountancy, PCAccounting, DecisionMakingRoleForm, ZipOrPostalCodeForm, CompanySizeForm, OpportunityCampaignCode, OpportunityLeadType, OpportunityNotesOld, OpportunityProjectName, OpportunityCategory, PCOptOutReason, PCOptOutReasonOther, EOLOpportunityID, Comments, CompanyEmail, WebsiteForm, PCOptIn, EGBlogUpdates, EGEvents, EGNewsletter, EGProductInformation, EGThirdPartyEmails, IMSFStage, IMSFStatus, IMSFStageSince, IMSFStatusSince, IMSFSince, UserStatus, UserStartDate, UserEndDate, SpamControl, CountryForm, CreatedBy, UpdatedBy, RecordType, BusinessPhoneExtension, LastModifiedByEOLSystem, CRMSubscribed, SubsectorForm, DUNSNumber, ChamberOfCommerce, BusinessType, EGEmailService, SALControl, Validation, ValidationDate, TouchPoint, PaidLead, FormSingleOptIn, FormOptIn, ExactUniqueID, FormTitleRSFormProJoomla, FormOpportunityOptOut, FormOpportunityCategory, FormAssessmentResult, FormLanguageForm, FormSourceLanguage, LastLoginDate, OpportunityNotes, MarketingFunnel, MarketingFunnelDate, DataCleansing, WebinarDate, PCEndorsement, OpportunityDescription, OpportunityResellerCode, GAPGoogleID, OpportunityType, OpportunityChannel, OpportunityAccountantCode
	FROM Eloqua_Contacts_Latest
	WHERE RN = 1
GO
