USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [config].[Load_Activities_NOTINUSE]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [config].[Load_Activities_NOTINUSE]
GO
/****** Object:  StoredProcedure [config].[Load_Activities_NOTINUSE]    Script Date: 24-sept.-18 14:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [config].[Load_Activities_NOTINUSE] AS


--General
EXEC Insert_Activities 1, 'ActivityLog',  'General', 'Manual page views', '2015-11-01', 'SP',	'DailyActivity_ActivityLog'
EXEC Insert_Activities 2, 'ActivityLog',  'General', 'Unique users', '2015-11-01', 'SP',	'DailyActivity_ActivityLog'
EXEC Insert_Activities 3, 'ActivityLog',  'General', 'Unique administrations', '2015-11-01', 'SP',	'DailyActivity_ActivityLog'
EXEC Insert_Activities 4 ,'SupportCases', 'General', 'SupportCases', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 5 ,'Requests', 'General', 'Complaints', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 6, 'Requests', 'General', 'Consultancy Created', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 7, 'Requests', 'General', 'Consultancy Realised', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 8, 'ActivityLog', 'General', 'Mobile unique users', '2015-11-01', 'SP', 'DailyActivity_ActivityLog'
EXEC Insert_Activities 9, 'ActivityLog', 'General', 'Mobile unique administrations', '2015-11-01', 'SP', 'DailyActivity_ActivityLog'
EXEC Insert_Activities 10, 'App Usage', 'General', 'Number of apps paid used monthly', '2015-11-01', 'SP', 'Contractdata_MonthlyAppUsage2'
EXEC Insert_Activities 11, 'App Usage', 'General', 'Number of apps free used monthly', '2015-11-01', 'SP', 'Contractdata_MonthlyAppUsage2'

-- SupportCases
EXEC Insert_Activities 1001, 'SupportCases', 'Origin', 'Phone','2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 1002, 'SupportCases', 'Origin', 'Web', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 1003, 'SupportCases', 'Origin', 'E-mail', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 1004, 'SupportCases', 'Origin', 'Chat', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 1005, 'SupportCases', 'Origin', 'Social Media', '2015-11-01', 'SP', 'DailyActivity_SupportCases'
EXEC Insert_Activities 1006, 'SupportCases', 'Origin', 'Call me back', '2015-11-01', 'SP', 'DailyActivity_SupportCases' 
EXEC Insert_Activities 1007, 'SupportCases', 'Origin', 'Others', '2015-11-01', 'SP', 'DailyActivity_SupportCases'

--ActivityLog
EXEC	Insert_Activities	5001	,'ActivityLog',	'App', 	'AccAdministrationsOverview.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5002	,'ActivityLog',	'App', 	'AccInviteClient.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5003	,'ActivityLog',	'App', 	'AccMailBoxTodos.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5004	,'ActivityLog',	'App', 	'AccProcessManagement.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5005	,'ActivityLog',	'App', 	'AccScanningService.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5006	,'ActivityLog',	'App', 	'CflExpensesReceiptsEntry.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5007	,'ActivityLog',	'App', 	'CflImport.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5008	,'ActivityLog',	'App', 	'CflLinkABNAMRO.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5009	,'ActivityLog',	'App', 	'CflLinkING.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5010	,'ActivityLog',	'App', 	'CflLinkRabobank.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5011	,'ActivityLog',	'App', 	'CflPayments.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5012	,'ActivityLog',	'App', 	'CflPaymentsNew.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5013	,'ActivityLog',	'App', 	'CflStatements.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5014	,'ActivityLog',	'App', 	'ClientPortal.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5015	,'ActivityLog',	'App', 	'ClientPortalFinancialUpload.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5016	,'ActivityLog',	'App', 	'ClientPortalSalesInvoice.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5017	,'ActivityLog',	'App', 	'CmoAdministrationMonitor.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5018	,'ActivityLog',	'App', 	'CmoIndicators.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5019	,'ActivityLog',	'App', 	'CmoSignals.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5020	,'ActivityLog',	'App', 	'CRMaccount.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5021	,'ActivityLog',	'App', 	'CRMAccountCard.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5022	,'ActivityLog',	'App', 	'CRMAccounts.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5023	,'ActivityLog',	'App', 	'DocLayoutRender.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5024	,'ActivityLog',	'App', 	'FinAuditFile.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5025	,'ActivityLog',	'App', 	'FinBalanceReport.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5026	,'ActivityLog',	'App', 	'FinBWA.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5027	,'ActivityLog',	'App', 	'FinEntry.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5028	,'ActivityLog',	'App', 	'FinEntryBankCash.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5029	,'ActivityLog',	'App', 	'FinExportDATEVTransactions.DE.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5030	,'ActivityLog',	'App', 	'FinFinTS.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5031	,'ActivityLog',	'App', 	'FinImportDATEV.DE.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5032	,'ActivityLog',	'App', 	'FinInvoiceEntry.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5033	,'ActivityLog',	'App', 	'FinInvoices.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5034	,'ActivityLog',	'App', 	'FinVATCheckList.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5035	,'ActivityLog',	'App', 	'FinVATReturn.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5036	,'ActivityLog',	'App', 	'FinVATSalesList.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5037	,'ActivityLog',	'App', 	'FinVATTransactions.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5038	,'ActivityLog',	'App', 	'HlpContact.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5039	,'ActivityLog',	'App', 	'HRMSubscriptionNew.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5040	,'ActivityLog',	'App', 	'HRMSubTrialNew.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5042	,'ActivityLog',	'App', 	'InvEntryAssemblyOrder.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5043	,'ActivityLog',	'App', 	'InvItemMRPOverview.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5044	,'ActivityLog',	'App', 	'InvItemWarehouse.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5045	,'ActivityLog',	'App', 	'InvSerialBatchNumbers.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5046	,'ActivityLog',	'App', 	'InvSerialBatchNumberTransactions.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5047	,'ActivityLog',	'App', 	'InvStockLocations.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5048	,'ActivityLog',	'App', 	'InvWarehouseTransfer.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5049	,'ActivityLog',	'App', 	'LicBuyWizard.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5050	,'ActivityLog',	'App', 	'LicSetupCompany.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5051	,'ActivityLog',	'App', 	'LicTerminate.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5052	,'ActivityLog',	'App', 	'LicUpgrade.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5053	,'ActivityLog',	'App', 	'LogItems.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5054	,'ActivityLog',	'App', 	'LogItemVersionMaterials.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5055	,'ActivityLog',	'App', 	'LogItemVersionRoutingSteps.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5056	,'ActivityLog',	'App', 	'MfgCostRollUpScenarios.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5057	,'ActivityLog',	'App', 	'MfgCreateMaterialPurchOrders.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5058	,'ActivityLog',	'App', 	'MfgIssueMaterials.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5059	,'ActivityLog',	'App', 	'MfgShopOrderCard.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5060	,'ActivityLog',	'App', 	'MfgShopOrderFinishItem.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5061	,'ActivityLog',	'App', 	'MfgShopOrderMaterialPlans.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5062	,'ActivityLog',	'App', 	'MfgShopOrderRoutingStepPlans.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5063	,'ActivityLog',	'App', 	'PrlCheckCockpit.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5064	,'ActivityLog',	'App', 	'PrlEntries.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5065	,'ActivityLog',	'App', 	'PrlProcessesOverview.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5066	,'ActivityLog',	'App', 	'PrlTaxReturn.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5067	,'ActivityLog',	'App', 	'PrlThirdPartyReturn.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5068	,'ActivityLog',	'App', 	'ProDayTransActions.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5069	,'ActivityLog',	'App', 	'ProProjectplanning.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5070	,'ActivityLog',	'App', 	'ProProjects.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5071	,'ActivityLog',	'App', 	'ProProjectWBSs.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5072	,'ActivityLog',	'App', 	'ProRepPrepaidBalance.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5073	,'ActivityLog',	'App', 	'ProTimesheet.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5074	,'ActivityLog',	'App', 	'ProWeekTransactions.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5075	,'ActivityLog',	'App', 	'PsnGenerateInvoices.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5076	,'ActivityLog',	'App', 	'PsnReportBase.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5077	,'ActivityLog',	'App', 	'PsnSubscriptionCard.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5078	,'ActivityLog',	'App', 	'PurPurchInvoiceEntry.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5079	,'ActivityLog',	'App', 	'PurPurchOrderSelect.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5080	,'ActivityLog',	'App', 	'QuoEntryquotation.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5081	,'ActivityLog',	'App', 	'RepEntryReport.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5082	,'ActivityLog',	'App', 	'RepGLCardReport.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5083	,'ActivityLog',	'App', 	'SlsInvoicePlanningAccounts.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5084	,'ActivityLog',	'App', 	'SlsEntrySalesInvoice.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5087	,'ActivityLog',	'App', 	'SlsSalesOrderEntry.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5088	,'ActivityLog',	'App', 	'SlsShipments.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5089	,'ActivityLog',	'App', 	'sysbackup.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5090	,'ActivityLog',	'App', 	'SysSearch.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5091	,'ActivityLog',	'App', 	'WizMoveDivision.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5092	,'ActivityLog',	'App', 	'FinBalanceSheet.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5093	,'ActivityLog',	'App', 	'LicMyExactOnline.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5094	,'ActivityLog',	'App', 	'FinBankEntity.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5095	,'ActivityLog',	'App', 	'CRMAccountsImport.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5096	,'ActivityLog',	'App', 	'LogitemsImport.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5097	,'ActivityLog',	'App', 	'DocLayouts.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5098	,'ActivityLog',	'App', 	'CflLinks.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5099	,'ActivityLog',	'App', 	'FinOpeningBalance.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5100	,'ActivityLog',	'App', 	'FinPaymentConditions.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
EXEC	Insert_Activities	5101	,'ActivityLog',	'App', 	'FinYearPeriods.aspx'	,'2015-11-01',	'SP',	'DailyActivity_ActivityLog'
GO
