USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_Relationship_Survey_RawToDomain]    Script Date: 23-juil.-18 15:38:32 ******/
DROP PROCEDURE IF EXISTS [domain].[Load_Relationship_Survey_RawToDomain]
GO
/****** Object:  StoredProcedure [domain].[Load_Relationship_Survey_RawToDomain]    Script Date: 23-juil.-18 15:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[domain].[Load_Relationship_Survey_RawToDomain]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [domain].[Load_Relationship_Survey_RawToDomain] AS' 
END
GO

-- =============================================
-- Author:		Naim Hammadi
-- Create date: 2018-07-23
-- Description:	Load the Relationship Survey data from the raw table to the domain table
-- =============================================
ALTER PROCEDURE [domain].[Load_Relationship_Survey_RawToDomain] 
AS
TRUNCATE TABLE CustomerIntelligence.domain.Relationship_Survey
BEGIN

INSERT INTO [CustomerIntelligence].[domain].[Relationship_Survey]

SELECT [LatestImportDate]
      ,[recordid]
      ,[Q35_1]
      ,[Q36_1]
      ,[Q36_2]
      ,[Q36_3]
      ,[Q36_4]
      ,[Q36_5]
      ,[Q36_6]
      ,[Q36_7]
      ,[Q36_8]
      ,[Q36_9]
      ,[Q36_10]
      ,[Q36_11]
      ,[Q36_12]
      ,[Q36_13]
      ,[Q36_14]
      ,[Q36_15]
      ,[Q36_16]
      ,[Q36_17]
      ,[Q36_18]
      ,[Q36_19]
      ,[Q36_20]
      ,[Q36_21]
      ,[Q36_22]
      ,[Q36_23]
      ,[Q36_24]
      ,[Q36_25]
      ,[Q36_26]
      ,[Q36_27]
      ,[Q36_28]
      ,[Q36_29]
      ,[Q36_30]
      ,[Q36_31]
      ,[Q36_32]
      ,[Q36_33]
      ,[Q36_34]
      ,[Q36_35]
      ,[Q36_36]
      ,[Q36_37]
      ,[Q36_38]
      ,[Q36_39]
      ,[Q36_40]
      ,[Q36_41]
      ,[Q36_42]
      ,[Q37_1]
      ,[Q37_2]
      ,[Q37_3]
      ,[Q37_4]
      ,[Q37_5]
      ,[Q37_6]
      ,[Q38_1]
      ,[Q39_1]
      ,[Q39_2]
      ,[Q39_3]
      ,[Q39_4]
      ,[Q39_5]
      ,[Q39_6]
      ,[Q39_7]
      ,[Q39_8]
      ,[Q39_9]
      ,[Q39_10]
      ,[Q39_11]
      ,[Q39_12]
      ,[Q39_13]
      ,[Q39_14]
      ,[Q40_1]
      ,[Q40_2]
      ,[Q7]
      ,[Q8]
      ,[Q9]
      ,[Q10]
      ,[Q11]
      ,[Q31]
      ,[Q20]
      ,[Q21]
      ,[Q22]
      ,[Q23]
      ,[Q1]
      ,[Q2]
      ,[Q25]
      ,[Q34]
      ,[Q3]
      ,[Q4]
      ,[Q26]
      ,[Q33]
      ,[Q5]
      ,[Q6]
      ,[Q24]
      ,[Q19]
      ,[Q12]
      ,[Q13]
      ,[Q27]
      ,[Q32]
      ,[Q14]
      ,[Q15]
      ,[Q28]
      ,[Q30]
      ,[Q16]
      ,[Q17]
      ,[Q29]
      ,[Q18]
      ,[panelistid]
      ,[started]
      ,[completed]
      ,[branched_out]
      ,[over_quota]
      ,[modified]
      ,[invite_status]
      ,[campaign_status]
      ,[culture]
      ,[user_key1]
      ,[user_key2]
      ,[user_key3]
      ,[http_referer]
      ,[http_user_agent]
      ,[remote_addr]
      ,[remote_host]
      ,[initial_date]
      ,[initial_status]
      ,[reminder1_date]
      ,[reminder1_status]
      ,[reminder2_date]
      ,[reminder2_status]
      ,[reminder3_date]
      ,[reminder3_status]
      ,[reminder4_date]
      ,[reminder4_status]
      ,[thankyou_date]
      ,[thankyou_status]
      ,[close_date]
      ,[last_page]
      ,[fi_loaded]
      ,[last_page_number]
      ,[modifier]
      ,[device_type]
      ,[ua_family]
      ,[ua_majorver]
      ,[os_name]
      ,[os_family]
      ,[iploc_long]
      ,[iploc_lat]
      ,[iploc_city]
      ,[iploc_state]
      ,[iploc_country]
      ,[iploc_zipcode]
  FROM [CustomerIntelligence].[raw].[Verint_Relationship_Survey] (nolock)

  END
GO
