USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_Items]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [domain].[Load_Items]
GO
/****** Object:  StoredProcedure [domain].[Load_Items]    Script Date: 24-sept.-18 14:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jennifer Vink
-- Create date: 31-03-2017
-- =============================================
CREATE PROCEDURE [domain].[Load_Items] 
AS
BEGIN

TRUNCATE TABLE domain.Items

INSERT INTO domain.Items

SELECT 
ID, 
Environment, 
Code,
Description, 
Class_02, 
Division, 
CostPriceStandard, 
SecurityLevel,
IsSalesItem, 
IsStockItem, 
IsSerialNumberItem, 
IsSubAssemblyItem, 
IsFractionAllowedItem, 
IsAssetItem, 
IsTime, 
IsNewContract, 
IsOnDemandItem, 
IsPurchaseItem, 
IsSubcontractedItem, 
IsMakeItem, 
IsWebshopItem, 
CopyRemarks, 
IsPackageItem, 
BatchQuantity, 
UseExplosion, 
HasBillOfMaterial, 
RoundEach, 
RoundPlannedQuantityFactor, 
syscreated, 
sysmodified, 
IsRegistrationCodeItem, 
IsBatchNumberItem, 
AssembledLeadDays, 
GrossWeight, 
Barcode, 
CIGCopyTime, 
CIGProcessed, 
AverageCost, 
NetWeight, 
Extension, 
IsTaxable, 
sysmodifier, 
syscreator, 
CalculatorUnit, 
LengthUnit, 
WeightPerUnit, 
WeightUnit, 
PlannedLengthUnit, 
PlannedAreaUnit, 
PlannedWeightUnit, 
PlannedVolumeUnit, 
CalculatorType, 
CalculatorUnitFactor, 
CalculatorUnitFactorType, 
Length, 
Width, 
Depth,
Margin,
WeightFactor, 
GLRevenue, 
GLCosts, 
GLStock, 
GLAssets,
GLDepreciationPL, 
GLDepreciationBS, 
GLRevaluationBS, 
CostPriceCurrency, 
ItemGroup, 
Class_01, 
Class_03, 
Class_04, 
Class_05, 
Class_06, 
Class_07, 
Class_08, 
Class_09, 
Class_10, 
CostPriceNew, 
Picture, 
PictureFileName, 
FreeDateField_01, 
FreeDateField_02, 
FreeDateField_03, 
FreeDateField_04, 
FreeDateField_05, 
FreeNumberField_01, 
FreeNumberField_02, 
FreeNumberField_03, 
FreeNumberField_04, 
FreeNumberField_05, 
FreeNumberField_06, 
FreeNumberField_07, 
FreeNumberField_08, 
FreeBoolField_01, 
FreeBoolField_02, 
FreeBoolField_03, 
FreeBoolField_04, 
FreeBoolField_05, 
FreeTextField_01, 
FreeTextField_02, 
FreeTextField_03, 
FreeTextField_04, 
FreeTextField_05, 
FreeTextField_06, 
FreeTextField_07, 
FreeTextField_08, 
FreeTextField_09, 
FreeTextField_10, 
StatisticalNumber, 
StatisticalUnits, 
StatisticalQuantity, 
StatisticalValue, 
StatisticalNetWeight, 
Unit, 
Notes, 
XmlData, 
SalesVATCode, 
DepreciationMethod, 
ModuleCode, 
StartDate, 
EndDate, 
Language, 
TopicParent, 
TopicTime, 
DescriptionTermID, 
ExtraDescription, 
ExtraDescriptionTermID, 
SearchCode
FROM
	(
	SELECT
	ID, 
	Environment, 
	Code,
	Description, 
	Class_02, 
	Division, 
	CostPriceStandard, 
	SecurityLevel,
	IsSalesItem, 
	IsStockItem, 
	IsSerialNumberItem, 
	IsSubAssemblyItem, 
	IsFractionAllowedItem, 
	IsAssetItem, 
	IsTime, 
	IsNewContract, 
	IsOnDemandItem, 
	IsPurchaseItem, 
	IsSubcontractedItem, 
	IsMakeItem, 
	IsWebshopItem, 
	CopyRemarks, 
	IsPackageItem, 
	BatchQuantity, 
	UseExplosion, 
	HasBillOfMaterial, 
	RoundEach, 
	RoundPlannedQuantityFactor, 
	syscreated, 
	sysmodified, 
	IsRegistrationCodeItem, 
	IsBatchNumberItem, 
	AssembledLeadDays, 
	GrossWeight, 
	Barcode, 
	CIGCopyTime, 
	CIGProcessed, 
	AverageCost, 
	NetWeight, 
	Extension, 
	IsTaxable, 
	sysmodifier, 
	syscreator, 
	CalculatorUnit, 
	LengthUnit, 
	WeightPerUnit, 
	WeightUnit, 
	PlannedLengthUnit, 
	PlannedAreaUnit, 
	PlannedWeightUnit, 
	PlannedVolumeUnit, 
	CalculatorType, 
	CalculatorUnitFactor, 
	CalculatorUnitFactorType, 
	Length, 
	Width, 
	Depth,
	Margin,
	WeightFactor, 
	GLRevenue, 
	GLCosts, 
	GLStock, 
	GLAssets,
	GLDepreciationPL, 
	GLDepreciationBS, 
	GLRevaluationBS, 
	CostPriceCurrency, 
	ItemGroup, 
	Class_01, 
	Class_03, 
	Class_04, 
	Class_05, 
	Class_06, 
	Class_07, 
	Class_08, 
	Class_09, 
	Class_10, 
	CostPriceNew, 
	Picture, 
	PictureFileName, 
	FreeDateField_01, 
	FreeDateField_02, 
	FreeDateField_03, 
	FreeDateField_04, 
	FreeDateField_05, 
	FreeNumberField_01, 
	FreeNumberField_02, 
	FreeNumberField_03, 
	FreeNumberField_04, 
	FreeNumberField_05, 
	FreeNumberField_06, 
	FreeNumberField_07, 
	FreeNumberField_08, 
	FreeBoolField_01, 
	FreeBoolField_02, 
	FreeBoolField_03, 
	FreeBoolField_04, 
	FreeBoolField_05, 
	FreeTextField_01, 
	FreeTextField_02, 
	FreeTextField_03, 
	FreeTextField_04, 
	FreeTextField_05, 
	FreeTextField_06, 
	FreeTextField_07, 
	FreeTextField_08, 
	FreeTextField_09, 
	FreeTextField_10, 
	StatisticalNumber, 
	StatisticalUnits, 
	StatisticalQuantity, 
	StatisticalValue, 
	StatisticalNetWeight, 
	Unit, 
	Notes, 
	XmlData, 
	SalesVATCode, 
	DepreciationMethod, 
	ModuleCode, 
	StartDate, 
	EndDate, 
	Language, 
	TopicParent, 
	TopicTime, 
	DescriptionTermID, 
	ExtraDescription, 
	ExtraDescriptionTermID, 
	SearchCode,
	ROW_NUMBER() over (Partition BY ID ORDER BY CigCopyTime desc) AS RowNumber
	FROM raw.HOST_CIG_Items ) A
WHERE A.RowNumber='1'
END
GO
