USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_BigQuery_Community_RawLast3Months]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [domain].[Load_BigQuery_Community_RawLast3Months]
GO
/****** Object:  StoredProcedure [domain].[Load_BigQuery_Community_RawLast3Months]    Script Date: 24-sept.-18 14:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [domain].[Load_BigQuery_Community_RawLast3Months]
AS
TRUNCATE TABLE domain.BigQuery_Community_RawLast3Months

INSERT INTO domain.BigQuery_Community_RawLast3Months
([visitorId], [visitNumber], [visitId], [visitStartTime], [date], [totals_visits], [totals_hits], [totals_pageviews], [totals_timeOnSite], [totals_bounces], [totals_transactions], [totals_transactionRevenue], [totals_newVisits], [totals_screenViews], [totals_uniqueScreenViews], [totals_timeOnScreen], [totals_totalTransactionRevenue], [trafficSource_referralPath], [trafficSource_campaign], [trafficSource_source], [trafficSource_medium], [trafficSource_keyword], [trafficSource_adContent], [trafficSource_adwordsClickInfo_campaignId], [trafficSource_adwordsClickInfo_adGroupId], [trafficSource_adwordsClickInfo_creativeId], [trafficSource_adwordsClickInfo_criteriaId], [trafficSource_adwordsClickInfo_page], [trafficSource_adwordsClickInfo_slot], [trafficSource_adwordsClickInfo_criteriaParameters], [trafficSource_adwordsClickInfo_gclId], [trafficSource_adwordsClickInfo_customerId], [trafficSource_adwordsClickInfo_adNetworkType], [trafficSource_adwordsClickInfo_targetCriteria_boomUserlistId], [trafficSource_adwordsClickInfo_isVideAd], [trafficSource_isTrueDirect], [trafficSource_campaignCode], [device_browser], [device_browserVersion], [device_browserSize], [device_operatingSystem], [device_operatingSystemVersion], [device_isMobile], [device_mobileDeviceBranding], [device_mobileDeviceModel], [device_mobileInputSelector], [device_mobileDeviceInfo], [device_mobileDeviceMarketingName], [device_flashVersion], [device_javaEnabled], [device_language], [device_screenColors], [device_screenResolution], [device_deviceCategory], [geoNetwork_continent], [geoNetwork_subContinent], [geoNetwork_country], [geoNetwork_region], [CustomDimensions_index], [CustomDimensions_value], [hits_hitNumber], [hits_time], [hits_hour], [hits_minute], [hits_isSecure], [hits_isInteraction], [hits_isEntrance], [hits_isExit], [hits_referer], [hits_page_pagePath], [hits_page_hostname], [hits_page_pageTitle], [hits_page_searchKeyword], [hits_page_searchCategory], [hits_page_pagePathLevel1], [hits_page_pagePathLevel2], [hits_page_pagePathLevel3], [hits_page_pagePathLevel4], [hits_transaction_transactionId], [hits_transaction_transactionRevenue], [hits_transaction_transactionTax], [hits_transaction_transactionShipping], [hits_transaction_affiliation], [hits_transaction_currencyCode], [hits_transaction_localTransactionRevenue], [hits_transaction_localTransactionTax], [hits_transaction_localTransactionShipping], [hits_transaction_transactionCoupon], [hits_item_transactionId], [hits_item_productName], [hits_item_productCategory], [hits_item_productSku], [hits_item_itemQuantity], [hits_item_itemRevenue], [hits_item_currencyCode], [hits_item_localItemRevenue], [hits_contentInfo_contentDescription], [hits_appInfo_name], [hits_appInfo_version], [hits_appInfo_id], [hits_appInfo_installerId], [hits_appInfo_appInstallerId], [hits_appInfo_appName], [hits_appInfo_appVersion], [hits_appInfo_appId], [hits_appInfo_screenName], [hits_appInfo_landingScreenName], [hits_appInfo_exitScreenName], [hits_appInfo_sceenDepth], [hits_exceptionInfo_description], [hits_exceptionInfo_isFatal], [hits_exceptionInfo_exceptions], [hits_exceptionInfo_fatalExceptions], [hits_eventInfo_eventCategory], [hits_eventInfo_eventAction], [hits_eventInfo_eventLabel], [hits_eventInfo_eventValue], [hits_product_productSKU], [hits_product_v2ProductName], [hits_product_v2ProductCategory], [hits_product_productVariant], [hits_product_productBrand], [hits_product_productRevenue], [hits_product_localProductRevenue], [hits_product_productPrice], [hits_product_localProductPrice], [hits_product_productQuantity], [hits_product_productRefundAmount], [hits_product_localProductRefundAmount], [hits_product_isImpression], [hits_product_isClick], [hits_product_customDimensions_index], [hits_product_customDimensions_value], [hits_product_customMetrics_index], [hits_product_customMetrics_value], [hits_product_productListName], [hits_product_productListPosition], [hits_promotion_promoId], [hits_promotion_promoName], [hits_promotion_promoCreative], [hits_promotion_promoPosition], [hits_prmotionActionInfo_promoIsView], [hits_prmotionActionInfo_promoIsClick], [hits_refund_refoundAmount], [hits_refund_localRefundAmount], [hits_eCommerceAction_action_type], [hits_eCommerceAction_step], [hits_eCommerceAction_option], [hits_experiment_experimentId], [hits_experiment_experimentVariant], [hits_publisher_dfpClicks], [hits_publisher_dfpImpressions], [hits_publisher_dfpMatchedQueries], [hits_publisher_dfpMeasurableImpressions], [hits_publisher_dfpQueries], [hits_publisher_dfpRevenueCpm], [hits_publisher_dfpRevenueCpc], [hits_publisher_dfpViewableImpressions], [hits_publisher_dfpPagesViewed], [hits_publisher_adsenseBackfillDfpClicks], [hits_publisher_adsenseBackfillDfpImpressions], [hits_publisher_adsenseBackfillDfpMatchedQueries], [hits_publisher_adsenseBackfillDfpMeasurableImpressions], [hits_publisher_adsenseBackfillDfpQueries], [hits_publisher_adsenseBackfillDfpRevenueCpm], [hits_publisher_adsenseBackfillDfpRevenueCpc], [hits_publisher_adsenseBackfillDfpViewableImpressions], [hits_publisher_adsenseBackfillDfpPagesViewed], [hits_publisher_adxBackfillDfpClicks], [hits_publisher_adxBackfillDfpImpressions], [hits_publisher_adxBackfillDfpMatchedQueries], [hits_publisher_adxBackfillDfpMeasurableImpressions], [hits_publisher_adxBackfillDfpQueries], [hits_publisher_adxBackfillDfpRevenueCpm], [hits_publisher_adxBackfillDfpRevenueCpc], [hits_publisher_adxBackfillDfpViewableImpressions], [hits_publisher_adxBackfillDfpPagesViewed], [hits_publisher_adxClicks], [hits_publisher_adxImpressions], [hits_publisher_adxMatchedQueries], [hits_publisher_adxMeasurableImpressions], [hits_publisher_adxQueries], [hits_publisher_adxRevenue], [hits_publisher_adxViewableImpressions], [hits_publisher_adxPagesViewed], [hits_publisher_adsViewed], [hits_publisher_adsUnitsViewed], [hits_publisher_adsUnitsMatched], [hits_publisher_viewableAdsViewed], [hits_publisher_measurableAdsViewed], [hits_publisher_adsPagesViewed], [hits_publisher_adsClicked], [hits_publisher_adsRevenue], [hits_publisher_dfpAdGroup], [hits_publisher_dfpAdUnits], [hits_publisher_dfpNetworkId], [hits_custom_variables_index], [hits_custom_variables_customVarName], [hits_custom_variables_ustomVarValue], [hits_customDimensions_index], [hits_customDimensions_value], [hits_customMetrics_index], [hits_customMetrics_value], [hits_type], [hits_social_socialInteractionNetwork], [hits_social_socialInteractionAction], [hits_social_socialInteractions], [hits_social_socialInteractionTarget], [hits_social_socialNetwork], [hits_social_uniqueSocialInteractions], [hits_social_hasSocialSourceReferral], [hits_social_socialInteractionNetworkAction], [hits_latencyTracking_pageLoadSample], [hits_latencyTracking_pageLoadTime], [hits_latencyTracking_pageDownloadTime], [hits_latencyTracking_redirectionTime], [hits_latencyTracking_speedMetricsSample], [hits_latencyTracking_domainLookupTime], [hits_latencyTracking_serverConnectionTime], [hits_latencyTracking_serverResponseTime], [hits_latencyTracking_domLatencyMetricsSample], [hits_latencyTracking_domInteractiveTime], [hits_latencyTracking_domContentLoadedTime], [hits_latencyTracking_userTimingValue], [hits_latencyTracking_userTimingSample], [hits_latencyTracking_userTimingVariable], [hits_latencyTracking_userTimingCategory], [hits_latencyTracking_userTimingLabel], [hits_sourcePropertyInfo_sourcePropertyDisplayName], [hits_sourcePropertyInfo_sourcePropertyTrackingId], [hits_contentGroup_contentGroup1], [hits_contentGroup_contentGroup2], [hits_contentGroup_contentGroup3], [hits_contentGroup_contentGroup4], [hits_contentGroup_contentGroup5], [hits_contentGroup_previousContentGroup1], [hits_contentGroup_previousContentGroup2], [hits_contentGroup_previousContentGroup3], [hits_contentGroup_previousContentGroup4], [hits_contentGroup_previousContentGroup5], [hits_contentGroup_contentGroupUniqueViews1], [hits_contentGroup_contentGroupUniqueViews2], [hits_contentGroup_contentGroupUniqueViews3], [hits_contentGroup_contentGroupUniqueViews4], [hits_contentGroup_contentGroupUniqueViews5], [hits_dataSource], [fullVisitorId], [userId], [channelGrouping], [socialEngagementType], [EtlInsertTime], [userIdLong])
SELECT 
[visitorId], [visitNumber], [visitId], [visitStartTime], [date], [totals_visits], [totals_hits], [totals_pageviews], [totals_timeOnSite], [totals_bounces], [totals_transactions], [totals_transactionRevenue], [totals_newVisits], [totals_screenViews], [totals_uniqueScreenViews], [totals_timeOnScreen], [totals_totalTransactionRevenue], [trafficSource_referralPath], [trafficSource_campaign], [trafficSource_source], [trafficSource_medium], [trafficSource_keyword], [trafficSource_adContent], [trafficSource_adwordsClickInfo_campaignId], [trafficSource_adwordsClickInfo_adGroupId], [trafficSource_adwordsClickInfo_creativeId], [trafficSource_adwordsClickInfo_criteriaId], [trafficSource_adwordsClickInfo_page], [trafficSource_adwordsClickInfo_slot], [trafficSource_adwordsClickInfo_criteriaParameters], [trafficSource_adwordsClickInfo_gclId], [trafficSource_adwordsClickInfo_customerId], [trafficSource_adwordsClickInfo_adNetworkType], [trafficSource_adwordsClickInfo_targetCriteria_boomUserlistId], [trafficSource_adwordsClickInfo_isVideAd], [trafficSource_isTrueDirect], [trafficSource_campaignCode], [device_browser], [device_browserVersion], [device_browserSize], [device_operatingSystem], [device_operatingSystemVersion], [device_isMobile], [device_mobileDeviceBranding], [device_mobileDeviceModel], [device_mobileInputSelector], [device_mobileDeviceInfo], [device_mobileDeviceMarketingName], [device_flashVersion], [device_javaEnabled], [device_language], [device_screenColors], [device_screenResolution], [device_deviceCategory], [geoNetwork_continent], [geoNetwork_subContinent], [geoNetwork_country], [geoNetwork_region], [CustomDimensions_index], [CustomDimensions_value], [hits_hitNumber], [hits_time], [hits_hour], [hits_minute], [hits_isSecure], [hits_isInteraction], [hits_isEntrance], [hits_isExit], [hits_referer], [hits_page_pagePath], [hits_page_hostname], [hits_page_pageTitle], [hits_page_searchKeyword], [hits_page_searchCategory], [hits_page_pagePathLevel1], [hits_page_pagePathLevel2], [hits_page_pagePathLevel3], [hits_page_pagePathLevel4], [hits_transaction_transactionId], [hits_transaction_transactionRevenue], [hits_transaction_transactionTax], [hits_transaction_transactionShipping], [hits_transaction_affiliation], [hits_transaction_currencyCode], [hits_transaction_localTransactionRevenue], [hits_transaction_localTransactionTax], [hits_transaction_localTransactionShipping], [hits_transaction_transactionCoupon], [hits_item_transactionId], [hits_item_productName], [hits_item_productCategory], [hits_item_productSku], [hits_item_itemQuantity], [hits_item_itemRevenue], [hits_item_currencyCode], [hits_item_localItemRevenue], [hits_contentInfo_contentDescription], [hits_appInfo_name], [hits_appInfo_version], [hits_appInfo_id], [hits_appInfo_installerId], [hits_appInfo_appInstallerId], [hits_appInfo_appName], [hits_appInfo_appVersion], [hits_appInfo_appId], [hits_appInfo_screenName], [hits_appInfo_landingScreenName], [hits_appInfo_exitScreenName], [hits_appInfo_sceenDepth], [hits_exceptionInfo_description], [hits_exceptionInfo_isFatal], [hits_exceptionInfo_exceptions], [hits_exceptionInfo_fatalExceptions], [hits_eventInfo_eventCategory], [hits_eventInfo_eventAction], [hits_eventInfo_eventLabel], [hits_eventInfo_eventValue], [hits_product_productSKU], [hits_product_v2ProductName], [hits_product_v2ProductCategory], [hits_product_productVariant], [hits_product_productBrand], [hits_product_productRevenue], [hits_product_localProductRevenue], [hits_product_productPrice], [hits_product_localProductPrice], [hits_product_productQuantity], [hits_product_productRefundAmount], [hits_product_localProductRefundAmount], [hits_product_isImpression], [hits_product_isClick], [hits_product_customDimensions_index], [hits_product_customDimensions_value], [hits_product_customMetrics_index], [hits_product_customMetrics_value], [hits_product_productListName], [hits_product_productListPosition], [hits_promotion_promoId], [hits_promotion_promoName], [hits_promotion_promoCreative], [hits_promotion_promoPosition], [hits_prmotionActionInfo_promoIsView], [hits_prmotionActionInfo_promoIsClick], [hits_refund_refoundAmount], [hits_refund_localRefundAmount], [hits_eCommerceAction_action_type], [hits_eCommerceAction_step], [hits_eCommerceAction_option], [hits_experiment_experimentId], [hits_experiment_experimentVariant], [hits_publisher_dfpClicks], [hits_publisher_dfpImpressions], [hits_publisher_dfpMatchedQueries], [hits_publisher_dfpMeasurableImpressions], [hits_publisher_dfpQueries], [hits_publisher_dfpRevenueCpm], [hits_publisher_dfpRevenueCpc], [hits_publisher_dfpViewableImpressions], [hits_publisher_dfpPagesViewed], [hits_publisher_adsenseBackfillDfpClicks], [hits_publisher_adsenseBackfillDfpImpressions], [hits_publisher_adsenseBackfillDfpMatchedQueries], [hits_publisher_adsenseBackfillDfpMeasurableImpressions], [hits_publisher_adsenseBackfillDfpQueries], [hits_publisher_adsenseBackfillDfpRevenueCpm], [hits_publisher_adsenseBackfillDfpRevenueCpc], [hits_publisher_adsenseBackfillDfpViewableImpressions], [hits_publisher_adsenseBackfillDfpPagesViewed], [hits_publisher_adxBackfillDfpClicks], [hits_publisher_adxBackfillDfpImpressions], [hits_publisher_adxBackfillDfpMatchedQueries], [hits_publisher_adxBackfillDfpMeasurableImpressions], [hits_publisher_adxBackfillDfpQueries], [hits_publisher_adxBackfillDfpRevenueCpm], [hits_publisher_adxBackfillDfpRevenueCpc], [hits_publisher_adxBackfillDfpViewableImpressions], [hits_publisher_adxBackfillDfpPagesViewed], [hits_publisher_adxClicks], [hits_publisher_adxImpressions], [hits_publisher_adxMatchedQueries], [hits_publisher_adxMeasurableImpressions], [hits_publisher_adxQueries], [hits_publisher_adxRevenue], [hits_publisher_adxViewableImpressions], [hits_publisher_adxPagesViewed], [hits_publisher_adsViewed], [hits_publisher_adsUnitsViewed], [hits_publisher_adsUnitsMatched], [hits_publisher_viewableAdsViewed], [hits_publisher_measurableAdsViewed], [hits_publisher_adsPagesViewed], [hits_publisher_adsClicked], [hits_publisher_adsRevenue], [hits_publisher_dfpAdGroup], [hits_publisher_dfpAdUnits], [hits_publisher_dfpNetworkId], [hits_custom_variables_index], [hits_custom_variables_customVarName], [hits_custom_variables_ustomVarValue], [hits_customDimensions_index], [hits_customDimensions_value], [hits_customMetrics_index], [hits_customMetrics_value], [hits_type], [hits_social_socialInteractionNetwork], [hits_social_socialInteractionAction], [hits_social_socialInteractions], [hits_social_socialInteractionTarget], [hits_social_socialNetwork], [hits_social_uniqueSocialInteractions], [hits_social_hasSocialSourceReferral], [hits_social_socialInteractionNetworkAction], [hits_latencyTracking_pageLoadSample], [hits_latencyTracking_pageLoadTime], [hits_latencyTracking_pageDownloadTime], [hits_latencyTracking_redirectionTime], [hits_latencyTracking_speedMetricsSample], [hits_latencyTracking_domainLookupTime], [hits_latencyTracking_serverConnectionTime], [hits_latencyTracking_serverResponseTime], [hits_latencyTracking_domLatencyMetricsSample], [hits_latencyTracking_domInteractiveTime], [hits_latencyTracking_domContentLoadedTime], [hits_latencyTracking_userTimingValue], [hits_latencyTracking_userTimingSample], [hits_latencyTracking_userTimingVariable], [hits_latencyTracking_userTimingCategory], [hits_latencyTracking_userTimingLabel], [hits_sourcePropertyInfo_sourcePropertyDisplayName], [hits_sourcePropertyInfo_sourcePropertyTrackingId], [hits_contentGroup_contentGroup1], [hits_contentGroup_contentGroup2], [hits_contentGroup_contentGroup3], [hits_contentGroup_contentGroup4], [hits_contentGroup_contentGroup5], [hits_contentGroup_previousContentGroup1], [hits_contentGroup_previousContentGroup2], [hits_contentGroup_previousContentGroup3], [hits_contentGroup_previousContentGroup4], [hits_contentGroup_previousContentGroup5], [hits_contentGroup_contentGroupUniqueViews1], [hits_contentGroup_contentGroupUniqueViews2], [hits_contentGroup_contentGroupUniqueViews3], [hits_contentGroup_contentGroupUniqueViews4], [hits_contentGroup_contentGroupUniqueViews5], [hits_dataSource], [fullVisitorId], [userId], [channelGrouping], [socialEngagementType], [EtlInsertTime], [userIdLong]
From raw.BigQuery_Salesforce
WHERE Date>=getdate()-92
GO
