USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_DivisionStatistics_Summary]    Script Date: 02-Jan-19 11:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [domain].[Load_DivisionStatistics_Summary]

AS
BEGIN

  TRUNCATE TABLE domain.[DivisionStatistics_Summary]

  DECLARE @environmentTable TABLE (
    EnvID int IDENTITY (1, 1),
    Environment nchar(3)
  )

  INSERT INTO @environmentTable (Environment)
    VALUES ('BE'),
    ('DE'),
    ('ES'),
    ('FR'),
    ('NL'),
    ('UK'),
    ('US')

  -- Get the number of rows in the looping table
  DECLARE @RowCount int
  SET @RowCount = (SELECT
    COUNT(EnvID)
  FROM @environmentTable)


  -- Declare an iterator
  DECLARE @I int
  -- Initialize the iterator
  SET @I = 1


  -- Loop through the rows of a table @myTable
  WHILE (@I <= @RowCount)
  BEGIN
    -- Declare variables to hold the data which we get after looping each record 
    DECLARE @environment nchar(3)
    SELECT
      @environment = Environment
    FROM @environmentTable
    WHERE EnvID = @I
    PRINT 'processing environment ' + @environment;

    WITH cte
    AS (SELECT
      cigprocessed,
      environment,
      division,
      cigcopytime
    FROM customerintelligence.raw.host_cig_divisionstatistics
    WHERE cigprocessed = 1
    AND environment = @environment
    GROUP BY cigprocessed,
             environment,
             division,
             cigcopytime)
    INSERT INTO domain.[DivisionStatistics_Summary] ([environment],
    [divisioncode],
    [conversionsource],
    [startuptype],
    [templatedivision],
    [templatecode],
    [taxfrequency],
    [taxreturnmethod],
    [taxsystem],
    [perioddatecheck],
    [openingbalancefirstdate],
    [lastlogin],
    [gltransactionscount],
    [vattransactions],
    [fctransactions],
    [invoicelinescount],
    [automaticbanklink],
    [banklinkscount],
    [bankaccountscount],
    [bankimportfilescount],
    [bankexportfilescount],
    [rabobankaccounts],
    [rabobanklinks],
    [rabobankimportfiles],
    [rabobankexportfiles],
    [abnamrobankaccounts],
    [abnamrobanklinks],
    [abnamrobankstatementfiles],
    [ingbankaccounts],
    [ingbanklinks],
    [ingbankstatementfiles],
    [ingbankpaymentfiles],
    [ingbankdirectdebitfiles],
    [leadcount],
    [opportunitycount],
    [quotecount],
    [employeecount],
    [accountcount],
    [customercount],
    [suppliercount],
    [glaccountcount],
    [assetcount],
    [allocationrulecount],
    [documentcount],
    [itemcount],
    [journalcount],
    [cashjournalcount],
    [bankjournalcount],
    [salesjournalcount],
    [purchasejournalcount],
    [generaljournalcount],
    [cashentrycount],
    [cashentrymaxlines],
    [cashentryavglines],
    [cashtransactions],
    [bankentrycount],
    [bankentrymaxlines],
    [bankentryavglines],
    [banktransactions],
    [bankentrycountimport],
    [bankentrymaxlinesimport],
    [bankentryavglinesimport],
    [banktransactionsimport],
    [bankentrycountmanual],
    [bankentrymaxlinesmanual],
    [bankentryavglinesmanual],
    [banktransactionsmanual],
    [salesentrycount],
    [salesentrymaxlines],
    [salesentryavglines],
    [salestransactions],
    [purchaseentrycount],
    [purchaseentrymaxlines],
    [purchaseentryavglines],
    [purchasetransactions],
    [generaljournalentrycount],
    [generaljournalentrymaxlines],
    [generaljournalentryavglines],
    [generaljournaltransactions],
    [costcentertransactions],
    [costunittransactions],
    [depreciationplancount],
    [opportunitystagecount],
    [leadsourcecount],
    [salestypecount],
    [reasoncodecount],
    [budgetcount],
    [paymenttermcount],
    [sourcenormal],
    [sourcebankimport],
    [sourcexmlimport],
    [sourceconversion],
    [sourceinvoice],
    [sourcerevaluation],
    [sourcefixedentry],
    [sourcevatreturn],
    [sourceglmatching],
    [sourceexchangeratediff],
    [fixedsalesentrycount],
    [fixedpurchaseentrycount],
    [fixedgeneraljournalentrycount],
    [fixedsalesinvoicecount],
    [xbrldocumentsbd],
    [xbrldocumentskvk],
    [projectapproveentries],
    [projectuseproposal],
    [projectmandatoryproject],
    [projectconsolidatenone],
    [projectconsolidateitem],
    [projectconsolidateitemproject],
    [projectconsolidateitememployee],
    [projectconsolidateitememployeeproject],
    [projecttypefixedprice],
    [projecttypetimeandmaterial],
    [projecttypenonbillable],
    [projecttotalemployees],
    [projecttotaltimeentries],
    [projecttotalcostentries],
    [projecttotalabsenceentries],
    [projecttotalleaveentries],
    [projecttotaltimecorrectionentries],
    [projecttotalsingleplanning],
    [projecttotalrecurringplanning],
    [projecttotalnationalholiday],
    [projectinvoiceasquoted],
    [projecttypeprepaidretainer],
    [projecttypeprepaidhtb],
    [projectwithwbs],
    [costpricetransactioncount],
    [salesorderentrycount],
    [salesorderentrymaxlines],
    [salesorderentryavglines],
    [salesorderlastcreationdate],
    [deliveryentrycount],
    [deliveryentrymaxlines],
    [deliveryentryavglines],
    [deliverytransactions],
    [stockentryreturncount],
    [stockentryreturnmaxlines],
    [stockentryreturnavglines],
    [stockentryreturntransactions],
    [purchaseorderentrycount],
    [purchaseorderentrymaxlines],
    [purchaseorderentryavglines],
    [purchaseorderlastcreationdate],
    [receiptentrycount],
    [receiptentrymaxlines],
    [receiptentryavglines],
    [receipttransactions],
    [receiptreturncount],
    [receiptreturnmaxlines],
    [receiptreturnavglines],
    [receiptreturntransactions],
    [stockcountentrycount],
    [stockcountentrymaxlines],
    [stockcountentryavglines],
    [stockcounttransactions],
    [psnsubscriptontypeautomaticallyrenewedcount],
    [psnsubscriptontypemanuallyrenewedcount],
    [psnsubscriptontypenotrenewedcount],
    [psnsubscriptionautomaticallyrenewedcount],
    [psnsubscriptionmanuallyrenewedcount],
    [psnsubscriptionnotrenewedcount],
    [psnsubscriptionyearlycount],
    [psnsubscriptionhalfyearlycount],
    [psnsubscriptionquarterlycount],
    [psnsubscriptionmonthlycount],
    [psnsubscriptionprintedcount],
    [psnsubscriptioninvoicecount],
    [psnaveragesubscriptioninvoiceamount],
    [contracttype],
    [payrollactiveemployees],
    [payrollclacount],
    [payrolldepartmentcount],
    [payrolljobtitlecount],
    [payrolldivisiontype],
    [payrollfrequencyyearlyexists],
    [payrollfrequencyquarterlyexists],
    [payrollfrequencymonthlyexists],
    [payrollfrequency4weeklyexists],
    [payrollfrequencyweeklyexists],
    [sourceelectronicinvoice],
    [electronicsalesentrycount],
    [electronicpurchaseentrycount],
    [quotationquantitiescount],
    [quotationmaterialscount],
    [quotationroutingstepscount],
    [shoporderscount],
    [shopordermaterialscount],
    [shoporderroutingstepscount],
    [shopordermaterialrealizationscount],
    [shoporderroutingsteprealizationscount],
    [shopordermaterialissuescount],
    [shopordersubcontractissuescount],
    [shoporderroutingsteptimeentriescount],
    [shoporderstockreceiptscount],
    [shoporderroutingstepsmaxlines],
    [shoporderroutingstepsavglines],
    [shopordermaterialsmaxlines],
    [shopordermaterialsavglines],
    [shoporderlastcreationdate],
    [shopordersuborderlevelmax],
    [budgetscenariocount],
    [costcentercount],
    [costunitcount],
    [foreigncurrency],
    [currencycount],
    [exchangeratecount],
    [sepabankaccountcount],
    [pageviewslastweek],
    [pageviewslastmonth],
    [backupcount],
    [restorecount],
    [backupsinuse],
    [backupminbatch],
    [backupmaxbatch],
    [lastbackup],
    [lastrestore],
    [inconsistentar],
    [inconsistentap],
    [inconsistentptmatching],
    [inconsistentglmatching],
    [inconsistentbalanceentry],
    [inconsistentbalanceperiod],
    [inconsistentbalancedate],
    [inconsistentreportingbalance],
    [inconsistentbatchitems],
    [inconsistentserialitems],
    [inconsistentsalesorderstatus],
    [inconsistentpurchaseorderstatus],
    [sizekb],
    [attachmentsizekb],
    [fulltextwordssizekb],
    [backupsizekb],
    [applicationlogsizekb],
    [gltransactionssizekb],
    [intrastatsales],
    [intrastatpurchase],
    [mailboxconnectiontype],
    [mailboxprocessedemailcount],
    [mailboxprocessedemailsize],
    [mailboxprocessedattachmentsize],
    [requestcount],
    [campaigncount],
    [marketinglistcount],
    [campaignlinkedtomailchimpcount],
    [marketinglistlinkedtomailchimpcount],
    [accountlinkedtolinkedincount],
    [contactlinkedtolinkedincount],
    [accountlinkedtotwittercount],
    [contactlinkedtotwittercount],
    [accountlinkedtoadministrationcount],
    [accountlinkedtomultipleadministrationscount],
    [indicatorscount],
    [starterusersaccesstocompanycount],
    [documentfolderscount],
    [documentswithfoldercount],
    [purchasesendercount],
    [salessendercount],
    [crmsendercount],
    [salesinvoicefirstdate],
    [salesinvoicecount],
    [salesinvoiceavglines],
    [salesinvoicemaxlines],
    [dropshipsalesordercount],
    [dropshipsuppliersalesordercount],
    [salespricelistcount],
    [salespricelistperiodcount],
    [salespricelistperiodavgitemcount],
    [salespricelistperiodmaxitemcount],
    [purchaseinvoicecount],
    [purchaseinvoiceavglines],
    [purchaseinvoicemaxlines],
    [purchasepricelistcount],
    [purchasepricelistperiodcount],
    [purchasepricelistperiodavgitemcount],
    [purchasepricelistperiodmaxitemcount],
    [batchitemcount],
    [serialitemcount],
    [assemblyordercount],
    [warehousetransfercount],
    [warehousetransferavglines],
    [warehousetransfermaxlines],
    [locationtransfercount],
    [locationtransferavglines],
    [locationtransfermaxlines],
    [useallownegativestock],
    [usesalesorderapproval],
    [usetranssmart],
    [usemandatoryserialnumber],
    [usereceivemorethanordered],
    [consultancydate],
    [userswithchangedcompanyrightscount],
    [customerswithinvolveduserscount],
    [userssetasinvolvedcount],
    [itemlowestlevelmax],
    [scanningservicelastusage],
    [employeeswithemployeeratecount],
    [lastcollected],
    [lastcopied],
    [sysmodifier],
    [sysmodified],
    [syscreator],
    [syscreated],
    [cigcopytime],
    [hrmapproveleave],
    [hrmapproveleavebuildup],
    [projectblockhistoricalentry],
    [projectdefaultalertwhenexceeding],
    [projectinvoiceproposalreasons],
    [projectnotesmandatory],
    [projectrequiresprojectwbs],
    [projectsendemails],
    [automatedbankimportsetting],
    [glaccountclassificationlinksrgs1],
    [glaccountclassificationlinksrgs3],
    [glaccountsuggestionsdirectentrysetting],
    [smartmatchingwriteoffboundarysetting],
    [projecttotalleavebuildupentries],
    [ctibingbankcount],
    [ctibothersbankcount],
    [ctibmatchescount],
    [ctibdisabledcount],
    [batchesperpaymentfileavgcount],
    [batchesperpaymentfilemaxcount],
    [paymenttransactionsperbatchavgcount],
    [purchaseentrycountforlast90days],
    [electronicpurchaseentrycountforlast90days],
    [clientactivitymonthlyexists],
    [inactiveaccountcount],
    [anonymizedaccountcount],
    [contactcount],
    [anonymizedcontactcount],
    [inactiveemployeecount],
    [anonymizedemployeecount],
    [usercount],
    [inactiveusercount],
    [anonymizedusercount],
	[ScanningServiceAutomaticBooking],
	[LastCollectedInconsistencies],
    [PurchaseEntryApprovalEnabled],
    [PurchaseEntryApproversCount],
    [InvoiceProposals],
    [ProjectSalesInvoices],
	Mail2EolPurchaseEmail,
	Mail2EolPurchaseEmailLastUsage,
	Mail2EolPurchaseEmailAllowedSendersCount,
	Mail2EolSalesEmail,
	Mail2EolSalesEmailLastUsage,
	Mail2EolSalesAllowedSendersCount,
	Mail2EolDocumentsEmail, 	 
	Mail2EolDocumentsEmailLastUsage, 	
	Mail2EolDocumentsAllowedSendersCount )
      SELECT
        [environment],
        [division] AS [DivisionCode],
        [conversionsource],
        [startuptype],
        [templatedivision],
        [templatecode],
        [taxfrequency],
        [taxreturnmethod],
        [taxsystem],
        [perioddatecheck],
        [openingbalancefirstdate],
        [lastlogin],
        [gltransactionscount],
        [vattransactions],
        [fctransactions],
        [invoicelinescount],
        CASE
          WHEN [banklinkscount] > 0 THEN 1
          WHEN [rabobanklinks] > 0 THEN 1
          WHEN [abnamrobanklinks] > 0 THEN 1
          WHEN [ingbanklinks] > 0 THEN 1
          ELSE 0
        END AS [AutomaticBankLink]
        -- This creates a binary value for whether the administration has at least one automatic bank link. Was previously done when only columns for bank links available for ING, Rabobank and ABN AMRO were available.
        ,
        [banklinkscount],
        [bankaccountscount],
        [bankimportfilescount],
        [bankexportfilescount],
        [rabobankaccounts],
        [rabobanklinks],
        [rabobankimportfiles],
        [rabobankexportfiles],
        [abnamrobankaccounts],
        [abnamrobanklinks],
        [abnamrobankstatementfiles],
        [ingbankaccounts],
        [ingbanklinks],
        [ingbankstatementfiles],
        [ingbankpaymentfiles],
        [ingbankdirectdebitfiles],
        [leadcount],
        [opportunitycount],
        [quotecount],
        [employeecount],
        [accountcount],
        [customercount],
        [suppliercount],
        [glaccountcount],
        [assetcount],
        [allocationrulecount],
        [documentcount],
        [itemcount],
        [journalcount],
        [cashjournalcount],
        [bankjournalcount],
        [salesjournalcount],
        [purchasejournalcount],
        [generaljournalcount],
        [cashentrycount],
        [cashentrymaxlines],
        [cashentryavglines],
        [cashtransactions],
        [bankentrycount],
        [bankentrymaxlines],
        [bankentryavglines],
        [banktransactions],
        [bankentrycountimport],
        [bankentrymaxlinesimport],
        [bankentryavglinesimport],
        [banktransactionsimport],
        [bankentrycountmanual],
        [bankentrymaxlinesmanual],
        [bankentryavglinesmanual],
        [banktransactionsmanual],
        [salesentrycount],
        [salesentrymaxlines],
        [salesentryavglines],
        [salestransactions],
        [purchaseentrycount],
        [purchaseentrymaxlines],
        [purchaseentryavglines],
        [purchasetransactions],
        [generaljournalentrycount],
        [generaljournalentrymaxlines],
        [generaljournalentryavglines],
        [generaljournaltransactions],
        [costcentertransactions],
        [costunittransactions],
        [depreciationplancount],
        [opportunitystagecount],
        [leadsourcecount],
        [salestypecount],
        [reasoncodecount],
        [budgetcount],
        [paymenttermcount],
        [sourcenormal],
        [sourcebankimport],
        [sourcexmlimport],
        [sourceconversion],
        [sourceinvoice],
        [sourcerevaluation],
        [sourcefixedentry],
        [sourcevatreturn],
        [sourceglmatching],
        [sourceexchangeratediff],
        [fixedsalesentrycount],
        [fixedpurchaseentrycount],
        [fixedgeneraljournalentrycount],
        [fixedsalesinvoicecount],
        [xbrldocumentsbd],
        [xbrldocumentskvk],
        [projectapproveentries],
        [projectuseproposal],
        [projectmandatoryproject],
        [projectconsolidatenone],
        [projectconsolidateitem],
        [projectconsolidateitemproject],
        [projectconsolidateitememployee],
        [projectconsolidateitememployeeproject],
        [projecttypefixedprice],
        [projecttypetimeandmaterial],
        [projecttypenonbillable],
        [projecttotalemployees],
        [projecttotaltimeentries],
        [projecttotalcostentries],
        [projecttotalabsenceentries],
        [projecttotalleaveentries],
        [projecttotaltimecorrectionentries],
        [projecttotalsingleplanning],
        [projecttotalrecurringplanning],
        [projecttotalnationalholiday],
        [projectinvoiceasquoted],
        [projecttypeprepaidretainer],
        [projecttypeprepaidhtb],
        [projectwithwbs],
        [costpricetransactioncount],
        [salesorderentrycount],
        [salesorderentrymaxlines],
        [salesorderentryavglines],
        [salesorderlastcreationdate],
        [deliveryentrycount],
        [deliveryentrymaxlines],
        [deliveryentryavglines],
        [deliverytransactions],
        [stockentryreturncount],
        [stockentryreturnmaxlines],
        [stockentryreturnavglines],
        [stockentryreturntransactions],
        [purchaseorderentrycount],
        [purchaseorderentrymaxlines],
        [purchaseorderentryavglines],
        [purchaseorderlastcreationdate],
        [receiptentrycount],
        [receiptentrymaxlines],
        [receiptentryavglines],
        [receipttransactions],
        [receiptreturncount],
        [receiptreturnmaxlines],
        [receiptreturnavglines],
        [receiptreturntransactions],
        [stockcountentrycount],
        [stockcountentrymaxlines],
        [stockcountentryavglines],
        [stockcounttransactions],
        [psnsubscriptontypeautomaticallyrenewedcount],
        [psnsubscriptontypemanuallyrenewedcount],
        [psnsubscriptontypenotrenewedcount],
        [psnsubscriptionautomaticallyrenewedcount],
        [psnsubscriptionmanuallyrenewedcount],
        [psnsubscriptionnotrenewedcount],
        [psnsubscriptionyearlycount],
        [psnsubscriptionhalfyearlycount],
        [psnsubscriptionquarterlycount],
        [psnsubscriptionmonthlycount],
        [psnsubscriptionprintedcount],
        [psnsubscriptioninvoicecount],
        [psnaveragesubscriptioninvoiceamount],
        [contracttype],
        [payrollactiveemployees],
        [payrollclacount],
        [payrolldepartmentcount],
        [payrolljobtitlecount],
        [payrolldivisiontype],
        [payrollfrequencyyearlyexists],
        [payrollfrequencyquarterlyexists],
        [payrollfrequencymonthlyexists],
        [payrollfrequency4weeklyexists],
        [payrollfrequencyweeklyexists],
        [sourceelectronicinvoice],
        [electronicsalesentrycount],
        [electronicpurchaseentrycount],
        [quotationquantitiescount],
        [quotationmaterialscount],
        [quotationroutingstepscount],
        [shoporderscount],
        [shopordermaterialscount],
        [shoporderroutingstepscount],
        [shopordermaterialrealizationscount],
        [shoporderroutingsteprealizationscount],
        [shopordermaterialissuescount],
        [shopordersubcontractissuescount],
        [shoporderroutingsteptimeentriescount],
        [shoporderstockreceiptscount],
        [shoporderroutingstepsmaxlines],
        [shoporderroutingstepsavglines],
        [shopordermaterialsmaxlines],
        [shopordermaterialsavglines],
        [shoporderlastcreationdate],
        [shopordersuborderlevelmax],
        [budgetscenariocount],
        [costcentercount],
        [costunitcount],
        [foreigncurrency],
        [currencycount],
        [exchangeratecount],
        [sepabankaccountcount],
        [pageviewslastweek],
        [pageviewslastmonth],
        [backupcount],
        [restorecount],
        [backupsinuse],
        [backupminbatch],
        [backupmaxbatch],
        [lastbackup],
        [lastrestore],
        [inconsistentar],
        [inconsistentap],
        [inconsistentptmatching],
        [inconsistentglmatching],
        [inconsistentbalanceentry],
        [inconsistentbalanceperiod],
        [inconsistentbalancedate],
        [inconsistentreportingbalance],
        [inconsistentbatchitems],
        [inconsistentserialitems],
        [inconsistentsalesorderstatus],
        [inconsistentpurchaseorderstatus],
        [sizekb],
        [attachmentsizekb],
        [fulltextwordssizekb],
        [backupsizekb],
        [applicationlogsizekb],
        [gltransactionssizekb],
        [intrastatsales],
        [intrastatpurchase],
        [mailboxconnectiontype],
        [mailboxprocessedemailcount],
        [mailboxprocessedemailsize],
        [mailboxprocessedattachmentsize],
        [requestcount],
        [campaigncount],
        [marketinglistcount],
        [campaignlinkedtomailchimpcount],
        [marketinglistlinkedtomailchimpcount],
        [accountlinkedtolinkedincount],
        [contactlinkedtolinkedincount],
        [accountlinkedtotwittercount],
        [contactlinkedtotwittercount],
        [accountlinkedtoadministrationcount],
        [accountlinkedtomultipleadministrationscount],
        [indicatorscount],
        [starterusersaccesstocompanycount],
        [documentfolderscount],
        [documentswithfoldercount],
        [purchasesendercount],
        [salessendercount],
        [crmsendercount],
        [salesinvoicefirstdate],
        [salesinvoicecount],
        [salesinvoiceavglines],
        [salesinvoicemaxlines],
        [dropshipsalesordercount],
        [dropshipsuppliersalesordercount],
        [salespricelistcount],
        [salespricelistperiodcount],
        [salespricelistperiodavgitemcount],
        [salespricelistperiodmaxitemcount],
        [purchaseinvoicecount],
        [purchaseinvoiceavglines],
        [purchaseinvoicemaxlines],
        [purchasepricelistcount],
        [purchasepricelistperiodcount],
        [purchasepricelistperiodavgitemcount],
        [purchasepricelistperiodmaxitemcount],
        [batchitemcount],
        [serialitemcount],
        [assemblyordercount],
        [warehousetransfercount],
        [warehousetransferavglines],
        [warehousetransfermaxlines],
        [locationtransfercount],
        [locationtransferavglines],
        [locationtransfermaxlines],
        [useallownegativestock],
        [usesalesorderapproval],
        [usetranssmart],
        [usemandatoryserialnumber],
        [usereceivemorethanordered],
        [consultancydate],
        [userswithchangedcompanyrightscount],
        [customerswithinvolveduserscount],
        [userssetasinvolvedcount],
        [itemlowestlevelmax],
        [scanningservicelastusage],
        [employeeswithemployeeratecount],
        [lastcollected],
        [lastcopied],
        [sysmodifier],
        [sysmodified],
        [syscreator],
        [syscreated],
        [cigcopytime],
        [hrmapproveleave],
        [hrmapproveleavebuildup],
        [projectblockhistoricalentry],
        [projectdefaultalertwhenexceeding],
        [projectinvoiceproposalreasons],
        [projectnotesmandatory],
        [projectrequiresprojectwbs],
        [projectsendemails],
        [automatedbankimportsetting],
        [glaccountclassificationlinksrgs1],
        [glaccountclassificationlinksrgs3],
        [glaccountsuggestionsdirectentrysetting],
        [smartmatchingwriteoffboundarysetting],
        [projecttotalleavebuildupentries],
        [ctibingbankcount],
        [ctibothersbankcount],
        [ctibmatchescount],
        [ctibdisabledcount],
        [batchesperpaymentfileavgcount],
        [batchesperpaymentfilemaxcount],
        [paymenttransactionsperbatchavgcount],
        [purchaseentrycountforlast90days],
        [electronicpurchaseentrycountforlast90days],
        [clientactivitymonthlyexists],
        [inactiveaccountcount],
        [anonymizedaccountcount],
        [contactcount],
        [anonymizedcontactcount],
        [inactiveemployeecount],
        [anonymizedemployeecount],
        [usercount],
        [inactiveusercount],
        [anonymizedusercount],
		[ScanningServiceAutomaticBooking],
		[LastCollectedInconsistencies],
	    [PurchaseEntryApprovalEnabled],
        [PurchaseEntryApproversCount],
        [InvoiceProposals],
        [ProjectSalesInvoices],
		Mail2EolPurchaseEmail,
		Mail2EolPurchaseEmailLastUsage,
		Mail2EolPurchaseEmailAllowedSendersCount,
		Mail2EolSalesEmail,
		Mail2EolSalesEmailLastUsage,
		Mail2EolSalesAllowedSendersCount,
		Mail2EolDocumentsEmail, 	 
		Mail2EolDocumentsEmailLastUsage, 	
		Mail2EolDocumentsAllowedSendersCount  
      FROM (SELECT
        rawcigdiv.*
      FROM customerintelligence.raw.host_cig_divisionstatistics AS rawcigdiv
      INNER JOIN (SELECT
        cigprocessed,
        environment,
        division,
        MAX(cigcopytime) AS CIGCopyTime
      FROM cte
      GROUP BY cigprocessed,
               environment,
               division) AS LatestDIvStatistics
        ON LatestDIvStatistics.cigprocessed =
        rawcigdiv.cigprocessed
        AND LatestDIvStatistics.environment =
        rawcigdiv.environment
        AND LatestDIvStatistics.division = rawcigdiv.division
        AND LatestDIvStatistics.cigcopytime =
        rawcigdiv.cigcopytime) AS [Backup]
    PRINT 'processed environment ' + @environment
    -- Increment the iterator
    SET @I = @I + 1
  END;
  -- Delete possible duplicates
  WITH DuplicateCte
   AS (SELECT ROW_NUMBER() OVER (PARTITION BY Environment, DivisionCode, CIGCopyTime 
                                    ORDER BY CIGCopyTime DESC) RN
         FROM   [CustomerIntelligence].[domain].[DivisionStatistics_Summary])
  DELETE FROM DuplicateCte
  WHERE  RN > 1
END
