USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[CreateTable_Requests_ConversionRequest]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [domain].[CreateTable_Requests_ConversionRequest]
GO
/****** Object:  StoredProcedure [domain].[CreateTable_Requests_ConversionRequest]    Script Date: 24-sept.-18 14:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jennifer Vink
-- Create date: 2017-01-24
-- Description:	
-- =============================================
CREATE PROCEDURE [domain].[CreateTable_Requests_ConversionRequest] 
AS
BEGIN
IF OBJECT_ID (N'Requests_ConversionRequest', N'U') IS NOT NULL 
DROP TABLE domain.Requests_ConversionRequest

CREATE TABLE [domain].[Requests_ConversionRequest](
[RequestID] uniqueidentifier,
[Created] Datetime,
[Modified] Datetime,
[Realized] Datetime,
[Approved] Datetime,
[StatusChanged] Datetime,

[Status] int,
[HID] int ,
[TypeDescription] nvarchar(max),
[AccountID] uniqueidentifier,
[ContactID] uniqueidentifier,
[Description] nvarchar(max),
[RequestComments] nvarchar(max),
[WorkflowComments] nvarchar(max),
[Deliver the backup?] nvarchar(max),
[Conversion form] nvarchar(max),
[Only master data?] nvarchar(max),
[BU received] Date,
[BU placed] nvarchar(max),
[Number of administrations] nvarchar(max),
[Number of administrations converted] nvarchar(max),
[Conversion done by] nvarchar(max),
[StartDate] Date,
[EndDate] Date,
[Payment] nvarchar(max),
[Costs] int,
[CIGCopyTime] Datetime,
[Environment] nvarchar(4),
[Processed] datetime
)
END
GO
