USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_DivisionStatistics_Daily]    Script Date: 02-Jan-19 10:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [domain].[Load_DivisionStatistics_Daily]

AS
BEGIN

-- ====================================================================================================================================================================================================================================
-- Author:		Alex Green
-- Create date: 09-12-2016
-- Description:	This script adds the new DivisionStatistics deltas to the DivisionStatistics_Daily table. These deltas act as a new daily snapshot of the division.
	  -- The 'date' field is calculated using the LastCollected field
	  -- The LastCollected field indicates when the original statistics job was run in the Hosting environments to collect DivisionStatistics. The job always starts on or after 21:00 and can take up to six hours to finish
	  -- We treat when the job started as the 'end of the day', so for some Divisions this may be before midnight. In which case there can be an inconsistency between, say, ActivityDaily and DivisionStatistics_Daily
	  -- Once all deltas have been added to DivisionStatistics_Daily, the deltas in the raw Hosting DivisionStatistics table are updated to 1 (processed)

-- 16 March 2018 - CollectStatistics job changed in EOL to begin at 18:00 (finishes at approx 3:30). We changed the LastCollected logic to count any LastCollected after 18:00 as 'today' for the Date field.
-- ====================================================================================================================================================================================================================================
BEGIN TRY
BEGIN TRANSACTION
	INSERT INTO CustomerIntelligence.domain.DivisionStatistics_Daily
(
	   [Environment]
	  ,[DivisionCode]
	  ,[Date]
	  ,[GLTransactionsCount]
	  ,[VATTransactions]
	  ,[FCTransactions]
	  ,[InvoiceLinesCount]
	  ,[AutomaticBankLink]
	  ,[RabobankAccounts]
	  ,[RabobankLinks]
	  ,[RabobankImportFiles]
	  ,[RabobankExportFiles]
	  ,[ABNAMROBankAccounts]
	  ,[ABNAMROBankLinks]
	  ,[ABNAMROBankStatementFiles]
	  ,[INGBankAccounts]
	  ,[INGBankLinks]
	  ,[INGBankStatementFiles]
	  ,[INGBankPaymentFiles]
	  ,[INGBankDirectDebitFiles]
	  ,[LeadCount]
	  ,[OpportunityCount]
	  ,[QuoteCount]
	  ,[EmployeeCount]
	  ,[AccountCount]
	  ,[CustomerCount]
	  ,[SupplierCount]
	  ,[GLAccountCount]
	  ,[AssetCount]
	  ,[AllocationRuleCount]
	  ,[DocumentCount]
	  ,[ItemCount]
	  ,[JournalCount]
	  ,[CashJournalCount]
	  ,[BankJournalCount]
	  ,[SalesJournalCount]
	  ,[PurchaseJournalCount]
	  ,[GeneralJournalCount]
	  ,[CashEntryCount]
	  ,[CashEntryMaxLines]
	  ,[CashEntryAvgLines]
	  ,[CashTransactions]
	  ,[BankEntryCount]
	  ,[BankEntryMaxLines]
	  ,[BankEntryAvgLines]
	  ,[BankTransactions]
	  ,[BankEntryCountImport]
	  ,[BankEntryMaxLinesImport]
	  ,[BankEntryAvgLinesImport]
	  ,[BankTransactionsImport]
	  ,[BankEntryCountManual]
	  ,[BankEntryMaxLinesManual]
	  ,[BankEntryAvgLinesManual]
	  ,[BankTransactionsManual]
	  ,[SalesEntryCount]
	  ,[SalesEntryMaxLines]
	  ,[SalesEntryAvgLines]
	  ,[SalesTransactions]
	  ,[PurchaseEntryCount]
	  ,[PurchaseEntryMaxLines]
	  ,[PurchaseEntryAvgLines]
	  ,[PurchaseTransactions]
	  ,[GeneralJournalEntryCount]
	  ,[GeneralJournalEntryMaxLines]
	  ,[GeneralJournalEntryAvgLines]
	  ,[GeneralJournalTransactions]
	  ,[CostcenterTransactions]
	  ,[CostunitTransactions]
	  ,[DepreciationPlanCount]
	  ,[OpportunityStageCount]
	  ,[LeadSourceCount]
	  ,[SalesTypeCount]
	  ,[ReasonCodeCount]
	  ,[BudgetCount]
	  ,[PaymentTermCount]
	  ,[SourceNormal]
	  ,[SourceBankImport]
	  ,[SourceXMLImport]
	  ,[SourceConversion]
	  ,[SourceInvoice]
	  ,[SourceRevaluation]
	  ,[SourceFixedEntry]
	  ,[SourceVATReturn]
	  ,[SourceGLMatching]
	  ,[SourceExchangeRateDiff]
	  ,[FixedSalesEntryCount]
	  ,[FixedPurchaseEntryCount]
	  ,[FixedGeneralJournalEntryCount]
	  ,[FixedSalesInvoiceCount]
	  ,[XBRLDocumentsBD]
	  ,[XBRLDocumentsKVK]
	  ,[ProjectApproveEntries]
	  ,[ProjectUseProposal]
	  ,[ProjectMandatoryProject]
	  ,[ProjectConsolidateNone]
	  ,[ProjectConsolidateItem]
	  ,[ProjectConsolidateItemProject]
	  ,[ProjectConsolidateItemEmployee]
	  ,[ProjectConsolidateItemEmployeeProject]
	  ,[ProjectTypeFixedPrice]
	  ,[ProjectTypeTimeAndMaterial]
	  ,[ProjectTypeNonBillable]
	  ,[ProjectTotalEmployees]
	  ,[ProjectTotalTimeEntries]
	  ,[ProjectTotalCostEntries]
		,[ProjectTotalAbsenceEntries]
		,[ProjectTotalLeaveEntries]
		,[ProjectTotalTimeCorrectionEntries]
		,[ProjectTotalSinglePlanning]
		,[ProjectTotalRecurringPlanning]
		,[ProjectTotalNationalHoliday]
		,[ProjectInvoiceAsQuoted]
		,[ProjectTypePrepaidRetainer]
		,[ProjectTypePrepaidHTB]
		,[ProjectWithWBS]
	  ,[CostPriceTransactionCount]
	  ,[SalesOrderEntryCount]
	  ,[SalesOrderEntryMaxLines]
	  ,[SalesOrderEntryAvgLines]
	  --,[SalesOrderLastCreationDate]
	  ,[DeliveryEntryCount]
	  ,[DeliveryEntryMaxLines]
	  ,[DeliveryEntryAvgLines]
	  ,[DeliveryTransactions]
	  ,[StockEntryReturnCount]
	  ,[StockEntryReturnMaxLines]
	  ,[StockEntryReturnAvgLines]
	  ,[StockEntryReturnTransactions]
	  ,[PurchaseOrderEntryCount]
	  ,[PurchaseOrderEntryMaxLines]
	  ,[PurchaseOrderEntryAvgLines]
	  --,[PurchaseOrderLastCreationDate]
	  ,[ReceiptEntryCount]
	  ,[ReceiptEntryMaxLines]
	  ,[ReceiptEntryAvgLines]
	  ,[ReceiptTransactions]
	  ,[ReceiptReturnCount]
	  ,[ReceiptReturnMaxLines]
	  ,[ReceiptReturnAvgLines]
	  ,[ReceiptReturnTransactions]
	  ,[StockCountEntryCount]
	  ,[StockCountEntryMaxLines]
	  ,[StockCountEntryAvgLines]
	  ,[StockCountTransactions]
	  ,[PsnSubscriptonTypeAutomaticallyRenewedCount]
	  ,[PsnSubscriptonTypeManuallyRenewedCount]
	  ,[PsnSubscriptonTypeNotRenewedCount]
	  ,[PsnSubscriptionAutomaticallyRenewedCount]
	  ,[PsnSubscriptionManuallyRenewedCount]
	  ,[PsnSubscriptionNotRenewedCount]
	  ,[PsnSubscriptionYearlyCount]
	  ,[PsnSubscriptionHalfYearlyCount]
	  ,[PsnSubscriptionQuarterlyCount]
	  ,[PsnSubscriptionMonthlyCount]
	  ,[PsnSubscriptionPrintedCount]
	  ,[PsnSubscriptionInvoiceCount]
	  ,[PsnAverageSubscriptionInvoiceAmount]
	  ,[ContractType]
	  ,[PayrollActiveEmployees]
	  ,[PayrollCLACount]
	  ,[PayrollDepartmentCount]
	  ,[PayrollJobtitleCount]
	  ,[PayrollDivisionType]
	  ,[PayrollFrequencyYearlyExists]
	  ,[PayrollFrequencyQuarterlyExists]
	  ,[PayrollFrequencyMonthlyExists]
	  ,[PayrollFrequency4WeeklyExists]
	  ,[PayrollFrequencyWeeklyExists]
	  ,[SourceElectronicInvoice]
	  ,[ElectronicSalesEntryCount]
	  ,[ElectronicPurchaseEntryCount]
	  ,[QuotationQuantitiesCount]
	  ,[QuotationMaterialsCount]
	  ,[QuotationRoutingStepsCount]
	  ,[ShopOrdersCount]
	  ,[ShopOrderMaterialsCount]
	  ,[ShopOrderRoutingStepsCount]
	  ,[ShopOrderMaterialRealizationsCount]
	  ,[ShopOrderRoutingStepRealizationsCount]
	  ,[ShopOrderMaterialIssuesCount]
	  ,[ShopOrderSubcontractIssuesCount]
	  ,[ShopOrderRoutingStepTimeEntriesCount]
	  ,[ShopOrderStockReceiptsCount]
	  ,[ShopOrderRoutingStepsMaxLines]
	  ,[ShopOrderRoutingStepsAvgLines]
	  ,[ShopOrderMaterialsMaxLines]
	  ,[ShopOrderMaterialsAvgLines]
	  --,[ShopOrderLastCreationDate]
	  ,[ShopOrderSubOrderLevelMax]
	  ,[BudgetScenarioCount]
	  ,[CostcenterCount]
	  ,[CostunitCount]
	  ,[ForeignCurrency]
	  ,[CurrencyCount]
	  ,[ExchangeRateCount]
	  ,[SepaBankAccountCount]
	  ,[PageViewsLastWeek]
	  ,[PageViewsLastMonth]
	  ,[BackupCount]
	  ,[RestoreCount]
	  ,[BackupsInUse]
	  ,[BackupMinBatch]
	  ,[BackupMaxBatch]
	  ,[InconsistentAR]
	  ,[InconsistentAP]
	  ,[InconsistentPTMatching]
	  ,[InconsistentGLMatching]
	  ,[InconsistentBalanceEntry]
	  ,[InconsistentBalancePeriod]
	  ,[InconsistentBalanceDate]
	  ,[InconsistentReportingBalance]
	  ,[InconsistentBatchItems]
	  ,[InconsistentSerialItems]
	  ,[InconsistentSalesOrderStatus]
	  ,[InconsistentPurchaseOrderStatus]
	  ,[SizeKB]
	  ,[AttachmentSizeKB]
	  ,[FullTextWordsSizeKB]
	  ,[BackupSizeKB]
	  ,[ApplicationLogSizeKB]
	  ,[GLTransactionsSizeKB]
	  ,[IntrastatSales]
	  ,[IntrastatPurchase]
	  ,[MailboxConnectionType]
	  ,[MailboxProcessedEmailCount]
	  ,[MailboxProcessedEmailSize]
	  ,[MailboxProcessedAttachmentSize]
	  ,[RequestCount]
	  ,[CampaignCount]
	  ,[MarketingListCount]
	  ,[CampaignLinkedToMailChimpCount]
	  ,[MarketingListLinkedToMailChimpCount]
	  ,[AccountLinkedToLinkedInCount]
	  ,[ContactLinkedToLinkedInCount]
	  ,[AccountLinkedToTwitterCount]
	  ,[ContactLinkedToTwitterCount]
	  ,[AccountLinkedToAdministrationCount]
	  ,[AccountLinkedToMultipleAdministrationsCount]
	  ,[IndicatorsCount]
	  ,[StarterUsersAccessToCompanyCount]
	  ,[DocumentFoldersCount]
	  ,[DocumentsWithFolderCount]
	  ,[PurchaseSenderCount]
	  ,[SalesSenderCount]
	  ,[CrmSenderCount]
	  --,[SalesInvoiceFirstDate]
	  ,[SalesInvoiceCount]
	  ,[SalesInvoiceAvgLines]
	  ,[SalesInvoiceMaxLines]
	  ,[DropshipSalesOrderCount]
	  ,[DropshipSupplierSalesOrderCount]
	  ,[SalesPriceListCount]
	  ,[SalesPriceListPeriodCount]
	  ,[SalesPriceListPeriodAvgItemCount]
	  ,[SalesPriceListPeriodMaxItemCount]
	  ,[PurchaseInvoiceCount]
	  ,[PurchaseInvoiceAvgLines]
	  ,[PurchaseInvoiceMaxLines]
	  ,[PurchasePriceListCount]
	  ,[PurchasePriceListPeriodCount]
	  ,[PurchasePriceListPeriodAvgItemCount]
	  ,[PurchasePriceListPeriodMaxItemCount]
	  ,[BatchItemCount]
	  ,[SerialItemCount]
	  ,[AssemblyOrderCount]
	  ,[WarehouseTransferCount]
	  ,[WarehouseTransferAvgLines]
	  ,[WarehouseTransferMaxLines]
	  ,[LocationTransferCount]
	  ,[LocationTransferAvgLines]
	  ,[LocationTransferMaxLines]
	  ,[UseAllowNegativeStock]
	  ,[UseSalesOrderApproval]
	  ,[UseTranssmart]
	  ,[UseMandatorySerialNumber]
	  ,[UseReceiveMoreThanOrdered]
	  ,[UsersWithChangedCompanyRightsCount]
	  ,[CustomersWithInvolvedUsersCount]
	  ,[UsersSetAsInvolvedCount]
	  ,[ItemLowestLevelMax]
	  ,[EmployeesWithEmployeeRateCount],
	  [HRMApproveLeave],
	[HRMApproveLeaveBuildUp],
	[ProjectBlockHistoricalEntry],
	[ProjectDefaultAlertWhenExceeding],
	[ProjectInvoiceProposalReasons],
	[ProjectNotesMandatory],
	[ProjectRequiresProjectWBS],
	[ProjectSendEmails],
	[AutomatedBankImportSetting],
	[GLAccountClassificationLinksRGS1],
	[GLAccountClassificationLinksRGS3],
	[GlAccountSuggestionsDirectEntrySetting],
	[SmartMatchingWriteOffBoundarySetting],
	[ProjectTotalLeaveBuildUpEntries],
	[CtibIngBankCount],
	[CtibOthersBankCount],
	[CtibMatchesCount],
	[CtibDisabledCount],
	[BatchesPerPaymentFileAvgCount],
	[BatchesPerPaymentFileMaxCount],
	[PaymentTransactionsPerBatchAvgCount],
	[PurchaseEntryCountForLast90Days],
	[ElectronicPurchaseEntryCountForLast90Days],
	[ClientActivityMonthlyExists],
	[InactiveAccountCount],
	[AnonymizedAccountCount],
	[ContactCount],
	[AnonymizedContactCount],
	[InactiveEmployeeCount],
	[AnonymizedEmployeeCount],
	[UserCount],
	[InactiveUserCount],
	[AnonymizedUserCount],
	[InvoiceProposals],
	[ProjectSalesInvoices],
	Mail2EolPurchaseEmail,
	Mail2EolPurchaseEmailLastUsage,
	Mail2EolPurchaseEmailAllowedSendersCount,
	 Mail2EolSalesEmail,
	Mail2EolSalesEmailLastUsage,
	Mail2EolSalesAllowedSendersCount,
	Mail2EolDocumentsEmail, 	 
	Mail2EolDocumentsEmailLastUsage, 	
	Mail2EolDocumentsAllowedSendersCount 

)

SELECT
		[Environment]
		  ,[DivisionCode]
		  ,[Date]
		  ,[GLTransactionsCount]
		  ,[VATTransactions]
		  ,[FCTransactions]
		  ,[InvoiceLinesCount]
		  ,[AutomaticBankLink]
		  ,[RabobankAccounts]
		  ,[RabobankLinks]
		  ,[RabobankImportFiles]
		  ,[RabobankExportFiles]
		  ,[ABNAMROBankAccounts]
		  ,[ABNAMROBankLinks]
		  ,[ABNAMROBankStatementFiles]
		  ,[INGBankAccounts]
		  ,[INGBankLinks]
		  ,[INGBankStatementFiles]
		  ,[INGBankPaymentFiles]
		  ,[INGBankDirectDebitFiles]
		  ,[LeadCount]
		  ,[OpportunityCount]
		  ,[QuoteCount]
		  ,[EmployeeCount]
		  ,[AccountCount]
		  ,[CustomerCount]
		  ,[SupplierCount]
		  ,[GLAccountCount]
		  ,[AssetCount]
		  ,[AllocationRuleCount]
		  ,[DocumentCount]
		  ,[ItemCount]
		  ,[JournalCount]
		  ,[CashJournalCount]
		  ,[BankJournalCount]
		  ,[SalesJournalCount]
		  ,[PurchaseJournalCount]
		  ,[GeneralJournalCount]
		  ,[CashEntryCount]
		  ,[CashEntryMaxLines]
		  ,[CashEntryAvgLines]
		  ,[CashTransactions]
		  ,[BankEntryCount]
		  ,[BankEntryMaxLines]
		  ,[BankEntryAvgLines]
		  ,[BankTransactions]
		  ,[BankEntryCountImport]
		  ,[BankEntryMaxLinesImport]
		  ,[BankEntryAvgLinesImport]
		  ,[BankTransactionsImport]
		  ,[BankEntryCountManual]
		  ,[BankEntryMaxLinesManual]
		  ,[BankEntryAvgLinesManual]
		  ,[BankTransactionsManual]
		  ,[SalesEntryCount]
		  ,[SalesEntryMaxLines]
		  ,[SalesEntryAvgLines]
		  ,[SalesTransactions]
		  ,[PurchaseEntryCount]
		  ,[PurchaseEntryMaxLines]
		  ,[PurchaseEntryAvgLines]
		  ,[PurchaseTransactions]
		  ,[GeneralJournalEntryCount]
		  ,[GeneralJournalEntryMaxLines]
		  ,[GeneralJournalEntryAvgLines]
		  ,[GeneralJournalTransactions]
		  ,[CostcenterTransactions]
		  ,[CostunitTransactions]
		  ,[DepreciationPlanCount]
		  ,[OpportunityStageCount]
		  ,[LeadSourceCount]
		  ,[SalesTypeCount]
		  ,[ReasonCodeCount]
		  ,[BudgetCount]
		  ,[PaymentTermCount]
		  ,[SourceNormal]
		  ,[SourceBankImport]
		  ,[SourceXMLImport]
		  ,[SourceConversion]
		  ,[SourceInvoice]
		  ,[SourceRevaluation]
		  ,[SourceFixedEntry]
		  ,[SourceVATReturn]
		  ,[SourceGLMatching]
		  ,[SourceExchangeRateDiff]
		  ,[FixedSalesEntryCount]
		  ,[FixedPurchaseEntryCount]
		  ,[FixedGeneralJournalEntryCount]
		  ,[FixedSalesInvoiceCount]
		  ,[XBRLDocumentsBD]
		  ,[XBRLDocumentsKVK]
		  ,[ProjectApproveEntries]
		  ,[ProjectUseProposal]
		  ,[ProjectMandatoryProject]
		  ,[ProjectConsolidateNone]
		  ,[ProjectConsolidateItem]
		  ,[ProjectConsolidateItemProject]
		  ,[ProjectConsolidateItemEmployee]
		  ,[ProjectConsolidateItemEmployeeProject]
		  ,[ProjectTypeFixedPrice]
		  ,[ProjectTypeTimeAndMaterial]
		  ,[ProjectTypeNonBillable]
		  ,[ProjectTotalEmployees]
		  ,[ProjectTotalTimeEntries]
		  ,[ProjectTotalCostEntries]
			,[ProjectTotalAbsenceEntries]
			,[ProjectTotalLeaveEntries]
			,[ProjectTotalTimeCorrectionEntries]
			,[ProjectTotalSinglePlanning]
			,[ProjectTotalRecurringPlanning]
			,[ProjectTotalNationalHoliday]
			,[ProjectInvoiceAsQuoted]
			,[ProjectTypePrepaidRetainer]
			,[ProjectTypePrepaidHTB]
			,[ProjectWithWBS]
		  ,[CostPriceTransactionCount]
		  ,[SalesOrderEntryCount]
		  ,[SalesOrderEntryMaxLines]
		  ,[SalesOrderEntryAvgLines]
		  --,[SalesOrderLastCreationDate]
		  ,[DeliveryEntryCount]
		  ,[DeliveryEntryMaxLines]
		  ,[DeliveryEntryAvgLines]
		  ,[DeliveryTransactions]
		  ,[StockEntryReturnCount]
		  ,[StockEntryReturnMaxLines]
		  ,[StockEntryReturnAvgLines]
		  ,[StockEntryReturnTransactions]
		  ,[PurchaseOrderEntryCount]
		  ,[PurchaseOrderEntryMaxLines]
		  ,[PurchaseOrderEntryAvgLines]
		  --,[PurchaseOrderLastCreationDate]
		  ,[ReceiptEntryCount]
		  ,[ReceiptEntryMaxLines]
		  ,[ReceiptEntryAvgLines]
		  ,[ReceiptTransactions]
		  ,[ReceiptReturnCount]
		  ,[ReceiptReturnMaxLines]
		  ,[ReceiptReturnAvgLines]
		  ,[ReceiptReturnTransactions]
		  ,[StockCountEntryCount]
		  ,[StockCountEntryMaxLines]
		  ,[StockCountEntryAvgLines]
		  ,[StockCountTransactions]
		  ,[PsnSubscriptonTypeAutomaticallyRenewedCount]
		  ,[PsnSubscriptonTypeManuallyRenewedCount]
		  ,[PsnSubscriptonTypeNotRenewedCount]
		  ,[PsnSubscriptionAutomaticallyRenewedCount]
		  ,[PsnSubscriptionManuallyRenewedCount]
		  ,[PsnSubscriptionNotRenewedCount]
		  ,[PsnSubscriptionYearlyCount]
		  ,[PsnSubscriptionHalfYearlyCount]
		  ,[PsnSubscriptionQuarterlyCount]
		  ,[PsnSubscriptionMonthlyCount]
		  ,[PsnSubscriptionPrintedCount]
		  ,[PsnSubscriptionInvoiceCount]
		  ,[PsnAverageSubscriptionInvoiceAmount]
		  ,[ContractType]
		  ,[PayrollActiveEmployees]
		  ,[PayrollCLACount]
		  ,[PayrollDepartmentCount]
		  ,[PayrollJobtitleCount]
		  ,[PayrollDivisionType]
		  ,[PayrollFrequencyYearlyExists]
		  ,[PayrollFrequencyQuarterlyExists]
		  ,[PayrollFrequencyMonthlyExists]
		  ,[PayrollFrequency4WeeklyExists]
		  ,[PayrollFrequencyWeeklyExists]
		  ,[SourceElectronicInvoice]
		  ,[ElectronicSalesEntryCount]
		  ,[ElectronicPurchaseEntryCount]
		  ,[QuotationQuantitiesCount]
		  ,[QuotationMaterialsCount]
		  ,[QuotationRoutingStepsCount]
		  ,[ShopOrdersCount]
		  ,[ShopOrderMaterialsCount]
		  ,[ShopOrderRoutingStepsCount]
		  ,[ShopOrderMaterialRealizationsCount]
		  ,[ShopOrderRoutingStepRealizationsCount]
		  ,[ShopOrderMaterialIssuesCount]
		  ,[ShopOrderSubcontractIssuesCount]
		  ,[ShopOrderRoutingStepTimeEntriesCount]
		  ,[ShopOrderStockReceiptsCount]
		  ,[ShopOrderRoutingStepsMaxLines]
		  ,[ShopOrderRoutingStepsAvgLines]
		  ,[ShopOrderMaterialsMaxLines]
		  ,[ShopOrderMaterialsAvgLines]
		  --,[ShopOrderLastCreationDate]
		  ,[ShopOrderSubOrderLevelMax]
		  ,[BudgetScenarioCount]
		  ,[CostcenterCount]
		  ,[CostunitCount]
		  ,[ForeignCurrency]
		  ,[CurrencyCount]
		  ,[ExchangeRateCount]
		  ,[SepaBankAccountCount]
		  ,[PageViewsLastWeek]
		  ,[PageViewsLastMonth]
		  ,[BackupCount]
		  ,[RestoreCount]
		  ,[BackupsInUse]
		  ,[BackupMinBatch]
		  ,[BackupMaxBatch]
		  ,[InconsistentAR]
		  ,[InconsistentAP]
		  ,[InconsistentPTMatching]
		  ,[InconsistentGLMatching]
		  ,[InconsistentBalanceEntry]
		  ,[InconsistentBalancePeriod]
		  ,[InconsistentBalanceDate]
		  ,[InconsistentReportingBalance]
		  ,[InconsistentBatchItems]
		  ,[InconsistentSerialItems]
		  ,[InconsistentSalesOrderStatus]
		  ,[InconsistentPurchaseOrderStatus]
		  ,[SizeKB]
		  ,[AttachmentSizeKB]
		  ,[FullTextWordsSizeKB]
		  ,[BackupSizeKB]
		  ,[ApplicationLogSizeKB]
		  ,[GLTransactionsSizeKB]
		  ,[IntrastatSales]
		  ,[IntrastatPurchase]
		  ,[MailboxConnectionType]
		  ,[MailboxProcessedEmailCount]
		  ,[MailboxProcessedEmailSize]
		  ,[MailboxProcessedAttachmentSize]
		  ,[RequestCount]
		  ,[CampaignCount]
		  ,[MarketingListCount]
		  ,[CampaignLinkedToMailChimpCount]
		  ,[MarketingListLinkedToMailChimpCount]
		  ,[AccountLinkedToLinkedInCount]
		  ,[ContactLinkedToLinkedInCount]
		  ,[AccountLinkedToTwitterCount]
		  ,[ContactLinkedToTwitterCount]
		  ,[AccountLinkedToAdministrationCount]
		  ,[AccountLinkedToMultipleAdministrationsCount]
		  ,[IndicatorsCount]
		  ,[StarterUsersAccessToCompanyCount]
		  ,[DocumentFoldersCount]
		  ,[DocumentsWithFolderCount]
		  ,[PurchaseSenderCount]
		  ,[SalesSenderCount]
		  ,[CrmSenderCount]
		  --,[SalesInvoiceFirstDate]
		  ,[SalesInvoiceCount]
		  ,[SalesInvoiceAvgLines]
		  ,[SalesInvoiceMaxLines]
		  ,[DropshipSalesOrderCount]
		  ,[DropshipSupplierSalesOrderCount]
		  ,[SalesPriceListCount]
		  ,[SalesPriceListPeriodCount]
		  ,[SalesPriceListPeriodAvgItemCount]
		  ,[SalesPriceListPeriodMaxItemCount]
		  ,[PurchaseInvoiceCount]
		  ,[PurchaseInvoiceAvgLines]
		  ,[PurchaseInvoiceMaxLines]
		  ,[PurchasePriceListCount]
		  ,[PurchasePriceListPeriodCount]
		  ,[PurchasePriceListPeriodAvgItemCount]
		  ,[PurchasePriceListPeriodMaxItemCount]
		  ,[BatchItemCount]
		  ,[SerialItemCount]
		  ,[AssemblyOrderCount]
		  ,[WarehouseTransferCount]
		  ,[WarehouseTransferAvgLines]
		  ,[WarehouseTransferMaxLines]
		  ,[LocationTransferCount]
		  ,[LocationTransferAvgLines]
		  ,[LocationTransferMaxLines]
		  ,[UseAllowNegativeStock]
		  ,[UseSalesOrderApproval]
		  ,[UseTranssmart]
		  ,[UseMandatorySerialNumber]
		  ,[UseReceiveMoreThanOrdered]
		  ,[UsersWithChangedCompanyRightsCount]
		  ,[CustomersWithInvolvedUsersCount]
		  ,[UsersSetAsInvolvedCount]
		  ,[ItemLowestLevelMax]
		  ,[EmployeesWithEmployeeRateCount],
		  [HRMApproveLeave],
	[HRMApproveLeaveBuildUp],
	[ProjectBlockHistoricalEntry],
	[ProjectDefaultAlertWhenExceeding],
	[ProjectInvoiceProposalReasons],
	[ProjectNotesMandatory],
	[ProjectRequiresProjectWBS],
	[ProjectSendEmails],
	[AutomatedBankImportSetting],
	[GLAccountClassificationLinksRGS1],
	[GLAccountClassificationLinksRGS3],
	[GlAccountSuggestionsDirectEntrySetting],
	[SmartMatchingWriteOffBoundarySetting],
	[ProjectTotalLeaveBuildUpEntries],
	[CtibIngBankCount],
	[CtibOthersBankCount],
	[CtibMatchesCount],
	[CtibDisabledCount],
	[BatchesPerPaymentFileAvgCount],
	[BatchesPerPaymentFileMaxCount],
	[PaymentTransactionsPerBatchAvgCount],
	[PurchaseEntryCountForLast90Days],
	[ElectronicPurchaseEntryCountForLast90Days],
	[ClientActivityMonthlyExists],
	[InactiveAccountCount],
	[AnonymizedAccountCount],
	[ContactCount],
	[AnonymizedContactCount],
	[InactiveEmployeeCount],
	[AnonymizedEmployeeCount],
	[UserCount],
	[InactiveUserCount],
	[AnonymizedUserCount],
	[InvoiceProposals],
	[ProjectSalesInvoices],
	Mail2EolPurchaseEmail,
	Mail2EolPurchaseEmailLastUsage,
	Mail2EolPurchaseEmailAllowedSendersCount,
	Mail2EolSalesEmail,
	Mail2EolSalesEmailLastUsage,
	Mail2EolSalesAllowedSendersCount,
	Mail2EolDocumentsEmail, 	 
	Mail2EolDocumentsEmailLastUsage, 	
	Mail2EolDocumentsAllowedSendersCount 

FROM
(
	SELECT
		[Environment]
		  ,[Division] AS [DivisionCode]
		  -- The date field is calculated using the LastCollected field
		  -- The LastCollected field indicates when the original statistics job was run in the Hosting environments to collect DivisionStatistics
		  -- The job always starts on or after 21:00 and can take up to six hours to finish
		  -- We treat when the job started as the 'end of the day', so for some Divisions this may be before midnight. In which case there can be an inconsistency between, say, ActivityDaily and DivisionStatistics_Daily
		  , CASE
			WHEN DATEPART(HOUR, LastCollected) >= 18 THEN CAST(LastCollected AS Date)
			ELSE DATEADD(DAY, -1, CAST(LastCollected AS Date))
			END AS [Date]
		  ,[GLTransactionsCount]
		  ,[VATTransactions]
		  ,[FCTransactions]
		  ,[InvoiceLinesCount]
			,CASE
				WHEN [RabobankLinks] > 0 THEN 1
				WHEN [ABNAMROBankLinks] > 0 THEN 1
				WHEN [INGBankLinks] > 0 THEN 1
				ELSE 0
			END AS [AutomaticBankLink]				-- This creates a binary value for whether the administration has at least one automatic bank link
		  ,[RabobankAccounts]
		  ,[RabobankLinks]
		  ,[RabobankImportFiles]
		  ,[RabobankExportFiles]
		  ,[ABNAMROBankAccounts]
		  ,[ABNAMROBankLinks]
		  ,[ABNAMROBankStatementFiles]
		  ,[INGBankAccounts]
		  ,[INGBankLinks]
		  ,[INGBankStatementFiles]
		  ,[INGBankPaymentFiles]
		  ,[INGBankDirectDebitFiles]
		  ,[LeadCount]
		  ,[OpportunityCount]
		  ,[QuoteCount]
		  ,[EmployeeCount]
		  ,[AccountCount]
		  ,[CustomerCount]
		  ,[SupplierCount]
		  ,[GLAccountCount]
		  ,[AssetCount]
		  ,[AllocationRuleCount]
		  ,[DocumentCount]
		  ,[ItemCount]
		  ,[JournalCount]
		  ,[CashJournalCount]
		  ,[BankJournalCount]
		  ,[SalesJournalCount]
		  ,[PurchaseJournalCount]
		  ,[GeneralJournalCount]
		  ,[CashEntryCount]
		  ,[CashEntryMaxLines]
		  ,[CashEntryAvgLines]
		  ,[CashTransactions]
		  ,[BankEntryCount]
		  ,[BankEntryMaxLines]
		  ,[BankEntryAvgLines]
		  ,[BankTransactions]
		  ,[BankEntryCountImport]
		  ,[BankEntryMaxLinesImport]
		  ,[BankEntryAvgLinesImport]
		  ,[BankTransactionsImport]
		  ,[BankEntryCountManual]
		  ,[BankEntryMaxLinesManual]
		  ,[BankEntryAvgLinesManual]
		  ,[BankTransactionsManual]
		  ,[SalesEntryCount]
		  ,[SalesEntryMaxLines]
		  ,[SalesEntryAvgLines]
		  ,[SalesTransactions]
		  ,[PurchaseEntryCount]
		  ,[PurchaseEntryMaxLines]
		  ,[PurchaseEntryAvgLines]
		  ,[PurchaseTransactions]
		  ,[GeneralJournalEntryCount]
		  ,[GeneralJournalEntryMaxLines]
		  ,[GeneralJournalEntryAvgLines]
		  ,[GeneralJournalTransactions]
		  ,[CostcenterTransactions]
		  ,[CostunitTransactions]
		  ,[DepreciationPlanCount]
		  ,[OpportunityStageCount]
		  ,[LeadSourceCount]
		  ,[SalesTypeCount]
		  ,[ReasonCodeCount]
		  ,[BudgetCount]
		  ,[PaymentTermCount]
		  ,[SourceNormal]
		  ,[SourceBankImport]
		  ,[SourceXMLImport]
		  ,[SourceConversion]
		  ,[SourceInvoice]
		  ,[SourceRevaluation]
		  ,[SourceFixedEntry]
		  ,[SourceVATReturn]
		  ,[SourceGLMatching]
		  ,[SourceExchangeRateDiff]
		  ,[FixedSalesEntryCount]
		  ,[FixedPurchaseEntryCount]
		  ,[FixedGeneralJournalEntryCount]
		  ,[FixedSalesInvoiceCount]
		  ,[XBRLDocumentsBD]
		  ,[XBRLDocumentsKVK]
		  ,[ProjectApproveEntries]
		  ,[ProjectUseProposal]
		  ,[ProjectMandatoryProject]
		  ,[ProjectConsolidateNone]
		  ,[ProjectConsolidateItem]
		  ,[ProjectConsolidateItemProject]
		  ,[ProjectConsolidateItemEmployee]
		  ,[ProjectConsolidateItemEmployeeProject]
		  ,[ProjectTypeFixedPrice]
		  ,[ProjectTypeTimeAndMaterial]
		  ,[ProjectTypeNonBillable]
		  ,[ProjectTotalEmployees]
		  ,[ProjectTotalTimeEntries]
		  ,[ProjectTotalCostEntries]
			,[ProjectTotalAbsenceEntries]
			,[ProjectTotalLeaveEntries]
			,[ProjectTotalTimeCorrectionEntries]
			,[ProjectTotalSinglePlanning]
			,[ProjectTotalRecurringPlanning]
			,[ProjectTotalNationalHoliday]
			,[ProjectInvoiceAsQuoted]
			,[ProjectTypePrepaidRetainer]
			,[ProjectTypePrepaidHTB]
			,[ProjectWithWBS]
		  ,[CostPriceTransactionCount]
		  ,[SalesOrderEntryCount]
		  ,[SalesOrderEntryMaxLines]
		  ,[SalesOrderEntryAvgLines]
		  --,[SalesOrderLastCreationDate]
		  ,[DeliveryEntryCount]
		  ,[DeliveryEntryMaxLines]
		  ,[DeliveryEntryAvgLines]
		  ,[DeliveryTransactions]
		  ,[StockEntryReturnCount]
		  ,[StockEntryReturnMaxLines]
		  ,[StockEntryReturnAvgLines]
		  ,[StockEntryReturnTransactions]
		  ,[PurchaseOrderEntryCount]
		  ,[PurchaseOrderEntryMaxLines]
		  ,[PurchaseOrderEntryAvgLines]
		  --,[PurchaseOrderLastCreationDate]
		  ,[ReceiptEntryCount]
		  ,[ReceiptEntryMaxLines]
		  ,[ReceiptEntryAvgLines]
		  ,[ReceiptTransactions]
		  ,[ReceiptReturnCount]
		  ,[ReceiptReturnMaxLines]
		  ,[ReceiptReturnAvgLines]
		  ,[ReceiptReturnTransactions]
		  ,[StockCountEntryCount]
		  ,[StockCountEntryMaxLines]
		  ,[StockCountEntryAvgLines]
		  ,[StockCountTransactions]
		  ,[PsnSubscriptonTypeAutomaticallyRenewedCount]
		  ,[PsnSubscriptonTypeManuallyRenewedCount]
		  ,[PsnSubscriptonTypeNotRenewedCount]
		  ,[PsnSubscriptionAutomaticallyRenewedCount]
		  ,[PsnSubscriptionManuallyRenewedCount]
		  ,[PsnSubscriptionNotRenewedCount]
		  ,[PsnSubscriptionYearlyCount]
		  ,[PsnSubscriptionHalfYearlyCount]
		  ,[PsnSubscriptionQuarterlyCount]
		  ,[PsnSubscriptionMonthlyCount]
		  ,[PsnSubscriptionPrintedCount]
		  ,[PsnSubscriptionInvoiceCount]
		  ,[PsnAverageSubscriptionInvoiceAmount]
		  ,[ContractType]
		  ,[PayrollActiveEmployees]
		  ,[PayrollCLACount]
		  ,[PayrollDepartmentCount]
		  ,[PayrollJobtitleCount]
		  ,[PayrollDivisionType]
		  ,[PayrollFrequencyYearlyExists]
		  ,[PayrollFrequencyQuarterlyExists]
		  ,[PayrollFrequencyMonthlyExists]
		  ,[PayrollFrequency4WeeklyExists]
		  ,[PayrollFrequencyWeeklyExists]
		  ,[SourceElectronicInvoice]
		  ,[ElectronicSalesEntryCount]
		  ,[ElectronicPurchaseEntryCount]
		  ,[QuotationQuantitiesCount]
		  ,[QuotationMaterialsCount]
		  ,[QuotationRoutingStepsCount]
		  ,[ShopOrdersCount]
		  ,[ShopOrderMaterialsCount]
		  ,[ShopOrderRoutingStepsCount]
		  ,[ShopOrderMaterialRealizationsCount]
		  ,[ShopOrderRoutingStepRealizationsCount]
		  ,[ShopOrderMaterialIssuesCount]
		  ,[ShopOrderSubcontractIssuesCount]
		  ,[ShopOrderRoutingStepTimeEntriesCount]
		  ,[ShopOrderStockReceiptsCount]
		  ,[ShopOrderRoutingStepsMaxLines]
		  ,[ShopOrderRoutingStepsAvgLines]
		  ,[ShopOrderMaterialsMaxLines]
		  ,[ShopOrderMaterialsAvgLines]
		  --,[ShopOrderLastCreationDate]
		  ,[ShopOrderSubOrderLevelMax]
		  ,[BudgetScenarioCount]
		  ,[CostcenterCount]
		  ,[CostunitCount]
		  ,[ForeignCurrency]
		  ,[CurrencyCount]
		  ,[ExchangeRateCount]
		  ,[SepaBankAccountCount]
		  ,[PageViewsLastWeek]
		  ,[PageViewsLastMonth]
		  ,[BackupCount]
		  ,[RestoreCount]
		  ,[BackupsInUse]
		  ,[BackupMinBatch]
		  ,[BackupMaxBatch]
		  ,[InconsistentAR]
		  ,[InconsistentAP]
		  ,[InconsistentPTMatching]
		  ,[InconsistentGLMatching]
		  ,[InconsistentBalanceEntry]
		  ,[InconsistentBalancePeriod]
		  ,[InconsistentBalanceDate]
		  ,[InconsistentReportingBalance]
		  ,[InconsistentBatchItems]
		  ,[InconsistentSerialItems]
		  ,[InconsistentSalesOrderStatus]
		  ,[InconsistentPurchaseOrderStatus]
		  ,[SizeKB]
		  ,[AttachmentSizeKB]
		  ,[FullTextWordsSizeKB]
		  ,[BackupSizeKB]
		  ,[ApplicationLogSizeKB]
		  ,[GLTransactionsSizeKB]
		  ,[IntrastatSales]
		  ,[IntrastatPurchase]
		  ,[MailboxConnectionType]
		  ,[MailboxProcessedEmailCount]
		  ,[MailboxProcessedEmailSize]
		  ,[MailboxProcessedAttachmentSize]
		  ,[RequestCount]
		  ,[CampaignCount]
		  ,[MarketingListCount]
		  ,[CampaignLinkedToMailChimpCount]
		  ,[MarketingListLinkedToMailChimpCount]
		  ,[AccountLinkedToLinkedInCount]
		  ,[ContactLinkedToLinkedInCount]
		  ,[AccountLinkedToTwitterCount]
		  ,[ContactLinkedToTwitterCount]
		  ,[AccountLinkedToAdministrationCount]
		  ,[AccountLinkedToMultipleAdministrationsCount]
		  ,[IndicatorsCount]
		  ,[StarterUsersAccessToCompanyCount]
		  ,[DocumentFoldersCount]
		  ,[DocumentsWithFolderCount]
		  ,[PurchaseSenderCount]
		  ,[SalesSenderCount]
		  ,[CrmSenderCount]
		  --,[SalesInvoiceFirstDate]
		  ,[SalesInvoiceCount]
		  ,[SalesInvoiceAvgLines]
		  ,[SalesInvoiceMaxLines]
		  ,[DropshipSalesOrderCount]
		  ,[DropshipSupplierSalesOrderCount]
		  ,[SalesPriceListCount]
		  ,[SalesPriceListPeriodCount]
		  ,[SalesPriceListPeriodAvgItemCount]
		  ,[SalesPriceListPeriodMaxItemCount]
		  ,[PurchaseInvoiceCount]
		  ,[PurchaseInvoiceAvgLines]
		  ,[PurchaseInvoiceMaxLines]
		  ,[PurchasePriceListCount]
		  ,[PurchasePriceListPeriodCount]
		  ,[PurchasePriceListPeriodAvgItemCount]
		  ,[PurchasePriceListPeriodMaxItemCount]
		  ,[BatchItemCount]
		  ,[SerialItemCount]
		  ,[AssemblyOrderCount]
		  ,[WarehouseTransferCount]
		  ,[WarehouseTransferAvgLines]
		  ,[WarehouseTransferMaxLines]
		  ,[LocationTransferCount]
		  ,[LocationTransferAvgLines]
		  ,[LocationTransferMaxLines]
		  ,[UseAllowNegativeStock]
		  ,[UseSalesOrderApproval]
		  ,[UseTranssmart]
		  ,[UseMandatorySerialNumber]
		  ,[UseReceiveMoreThanOrdered]
		  ,[UsersWithChangedCompanyRightsCount]
		  ,[CustomersWithInvolvedUsersCount]
		  ,[UsersSetAsInvolvedCount]
		  ,[ItemLowestLevelMax]
		  ,[EmployeesWithEmployeeRateCount],
		  [HRMApproveLeave],
	[HRMApproveLeaveBuildUp],
	[ProjectBlockHistoricalEntry],
	[ProjectDefaultAlertWhenExceeding],
	[ProjectInvoiceProposalReasons],
	[ProjectNotesMandatory],
	[ProjectRequiresProjectWBS],
	[ProjectSendEmails],
	[AutomatedBankImportSetting],
	[GLAccountClassificationLinksRGS1],
	[GLAccountClassificationLinksRGS3],
	[GlAccountSuggestionsDirectEntrySetting],
	[SmartMatchingWriteOffBoundarySetting],
	[ProjectTotalLeaveBuildUpEntries],
	[CtibIngBankCount],
	[CtibOthersBankCount],
	[CtibMatchesCount],
	[CtibDisabledCount],
	[BatchesPerPaymentFileAvgCount],
	[BatchesPerPaymentFileMaxCount],
	[PaymentTransactionsPerBatchAvgCount],
	[PurchaseEntryCountForLast90Days],
	[ElectronicPurchaseEntryCountForLast90Days],
	[ClientActivityMonthlyExists],
	[InactiveAccountCount],
	[AnonymizedAccountCount],
	[ContactCount],
	[AnonymizedContactCount],
	[InactiveEmployeeCount],
	[AnonymizedEmployeeCount],
	[UserCount],
	[InactiveUserCount],
	[AnonymizedUserCount],
	[InvoiceProposals],
	[ProjectSalesInvoices],
	Mail2EolPurchaseEmail,
	Mail2EolPurchaseEmailLastUsage,
	Mail2EolPurchaseEmailAllowedSendersCount,
	Mail2EolSalesEmail,
	Mail2EolSalesEmailLastUsage,
	Mail2EolSalesAllowedSendersCount,
	Mail2EolDocumentsEmail, 	 
	Mail2EolDocumentsEmailLastUsage, 	
	Mail2EolDocumentsAllowedSendersCount 
		  ,  ROW_NUMBER() OVER
							(PARTITION BY
								Environment
								, Division
								, (CASE
									WHEN DATEPART(HOUR, LastCollected) >= 18 THEN CAST(LastCollected AS Date)
									ELSE DATEADD(DAY, -1, CAST(LastCollected AS Date))
									END )
							ORDER BY LastCollected DESC)
							AS RowNumber	-- Creates a row number grouped on the Environment DivisionCode and LastCollected with the latest LastCollected record with row number 1
	FROM
		CustomerIntelligence.raw.HOST_CIG_DivisionStatistics
	WHERE
		CIGProcessed = 0			-- Only adds rows to DivisionStatistics_Daily that have not already been processed
) AS [Backup]
WHERE RowNumber = 1				-- In case of multiple records for the same division for the same day, only select the record for the division with the latest LastCollected datetime

	-- This updates the CIGProcessed column in the raw DivisionStatistics table
	UPDATE [CustomerIntelligence].[raw].[HOST_CIG_DivisionStatistics]
	SET CIGProcessed = 1
	WHERE CIGProcessed = 0
COMMIT
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

	SELECT ERROR_MESSAGE() AS ErrorMessage;
END CATCH

-- This deletes any records that have a broken DivisionStatistics delta record.
-- This occurs when we get a record with 0 and NULL values. This is likely due to the DivisionStatistics job in EOL stopping midway.
-- If these records are not removed, the daily changes in values can be very large
DELETE t1
FROM domain.DivisionStatistics_Daily t1
INNER JOIN
	(
		SELECT
			Environment
			, DivisionCode
			, [Date]
		FROM
			(
				SELECT
					Environment
					, DivisionCode
					, [Date]
					, VATTransactions
					, GLTransactionsCount
					, (LAG(DSD.GLTransactionsCount, 1, DSD.GLTransactionsCount) OVER(PARTITION BY DSD.Environment, DSD.DivisionCode ORDER BY [Date])) AS PreviousGLTransactionCount	-- Calculates the difference between the current and previous GLTransactionCount value for the division
					, (LEAD(DSD.GLTransactionsCount, 1, DSD.GLTransactionsCount) OVER(PARTITION BY DSD.Environment, DSD.DivisionCode ORDER BY [Date])) AS NextGLTransactionCount	-- Calculates the difference between the current and next GLTransactionCount value for the division
					, AccountCount
				FROM
					(
						SELECT
							Environment
							, DivisionCode
							, [Date]
							, VATTransactions
							, ISNULL(GLTransactionsCount,0) AS GLTransactionsCount		-- Sets NULL GLTransactionCount records to 0
							, AccountCount
						FROM
							domain.DivisionStatistics_Daily
					) DSD
			) SQ
		WHERE
			GLTransactionsCount = 0										-- Only selects records for deletion where there is no GLTransactionCount value
			AND (GLTransactionsCount - PreviousGLTransactionCount) < 0	-- Only selects records for deletion where the previous record did have a GLTransactionCount Value
			AND (NextGLTransactionCount - GLTransactionsCount) > 0		-- Only selects records for deletion where the next record did have a GLTransactionCount Value
			AND VATTransactions IS NULL									-- Broken DivisionStatistics records all appear to have a NULL VATTransactionCount value
			AND (AccountCount = 0 OR AccountCount IS NULL)				-- AccountCount must either be NULL or 0
) ToDelete
ON t1.Environment = ToDelete.Environment
AND t1.DivisionCode = ToDelete.DivisionCode
AND t1.[Date] = ToDelete.[Date]


--Delete all the dupliucated rows for a division per Date
DELETE A
FROM (
SELECT ROW_NUMBER() OVER (PARTITION BY DivisionCode, Environment, Date, GLTransactionsCount,VATTransactions,InvoiceLinesCount ORDER BY Date) as rownumber, *
FROM domain.DivisionStatistics_Daily) A
WHERE A.rownumber>1

END

