USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_Salesforce_LiveChatTranscript]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [domain].[Load_Salesforce_LiveChatTranscript]
GO
/****** Object:  StoredProcedure [domain].[Load_Salesforce_LiveChatTranscript]    Script Date: 24-sept.-18 14:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [domain].[Load_Salesforce_LiveChatTranscript] 
AS
BEGIN 
TRUNCATE TABLE domain.Salesforce_LiveChatTranscript
END
BEGIN

WITH Salesforce_LiveChatTranscript_Latest
(
		[Id]
      ,[Abandoned]
      ,[AccountId]
      ,[AverageResponseTimeOperator]
      ,[AverageResponseTimeVisitor]
      ,[Body]
      ,[Browser]
      ,[BrowserLanguage]
      ,[CaseId]
      ,[ChatDuration]
      ,[ChatKey]
      ,[ContactId]
      ,[CreatedById]
      ,[EndedBy]
      ,[IpAddress]
      ,[IsDeleted]
      ,[LastModifiedById]
      ,[LastModifiedDate]
      ,[EndTime]
      ,[CreatedDate]
      ,[StartTime]
      ,[SystemModstamp]
      ,[RequestTime]
      ,[LeadId]
      ,[LiveChatButtonId]
      ,[LiveChatDeploymentId]
      ,[LiveChatVisitorId]
      ,[Location]
      ,[MaxResponseTimeOperator]
      ,[MaxResponseTimeVisitor]
      ,[Name]
      ,[OperatorMessageCount]
      ,[OwnerId]
      ,[Platform]
      ,[ReferrerUri]
      ,[ScreenResolution]
      ,[SkillId]
      ,[Status]
      ,[SupervisorTranscriptBody]
      ,[UserAgent]
      ,[VisitorMessageCount]
      ,[WaitTime]
      ,[EtlInsertTime],
	  RN
)
AS
(
	SELECT
	 [Id]
      ,[Abandoned]
      ,[AccountId]
      ,[AverageResponseTimeOperator]
      ,[AverageResponseTimeVisitor]
      ,[Body]
      ,[Browser]
      ,[BrowserLanguage]
      ,[CaseId]
      ,[ChatDuration]
      ,[ChatKey]
      ,[ContactId]
      ,[CreatedById]
      ,[EndedBy]
      ,[IpAddress]
      ,[IsDeleted]
      ,[LastModifiedById]
      ,[LastModifiedDate]
      ,[EndTime]
      ,[CreatedDate]
      ,[StartTime]
      ,[SystemModstamp]
      ,[RequestTime]
      ,[LeadId]
      ,[LiveChatButtonId]
      ,[LiveChatDeploymentId]
      ,[LiveChatVisitorId]
      ,[Location]
      ,[MaxResponseTimeOperator]
      ,[MaxResponseTimeVisitor]
      ,[Name]
      ,[OperatorMessageCount]
      ,[OwnerId]
      ,[Platform]
      ,[ReferrerUri]
      ,[ScreenResolution]
      ,[SkillId]
      ,[Status]
      ,[SupervisorTranscriptBody]
      ,[UserAgent]
      ,[VisitorMessageCount]
      ,[WaitTime]
      ,[EtlInsertTime],
	  ROW_NUMBER() OVER (PARTITION BY Id ORDER BY LastModifiedDate DESC, EtlInsertTime DESC) AS RN
	  FROM [CustomerIntelligence].[raw].[Salesforce_LiveChatTranscript]
)

INSERT INTO [domain].[Salesforce_LiveChatTranscript]
	(
		[Id]
      ,[Abandoned]
      ,[AccountId]
      ,[AverageResponseTimeOperator]
      ,[AverageResponseTimeVisitor]
      ,[Body]
      ,[Browser]
      ,[BrowserLanguage]
      ,[CaseId]
      ,[ChatDuration]
      ,[ChatKey]
      ,[ContactId]
      ,[CreatedById]
      ,[EndedBy]
      ,[IpAddress]
      ,[IsDeleted]
      ,[LastModifiedById]
      ,[LastModifiedDate]
      ,[EndTime]
      ,[CreatedDate]
      ,[StartTime]
      ,[SystemModstamp]
      ,[RequestTime]
      ,[LeadId]
      ,[LiveChatButtonId]
      ,[LiveChatDeploymentId]
      ,[LiveChatVisitorId]
      ,[Location]
      ,[MaxResponseTimeOperator]
      ,[MaxResponseTimeVisitor]
      ,[Name]
      ,[OperatorMessageCount]
      ,[OwnerId]
      ,[Platform]
      ,[ReferrerUri]
      ,[ScreenResolution]
      ,[SkillId]
      ,[Status]
      ,[SupervisorTranscriptBody]
      ,[UserAgent]
      ,[VisitorMessageCount]
      ,[WaitTime]
      ,[EtlInsertTime]
	)

	SELECT
		[Id]
      ,[Abandoned]
      ,[AccountId]
      ,[AverageResponseTimeOperator]
      ,[AverageResponseTimeVisitor]
      ,[Body]
      ,[Browser]
      ,[BrowserLanguage]
      ,[CaseId]
      ,[ChatDuration]
      ,[ChatKey]
      ,[ContactId]
      ,[CreatedById]
      ,[EndedBy]
      ,[IpAddress]
      ,[IsDeleted]
      ,[LastModifiedById]
      ,[LastModifiedDate]
      ,[EndTime]
      ,[CreatedDate]
      ,[StartTime]
      ,[SystemModstamp]
      ,[RequestTime]
      ,[LeadId]
      ,[LiveChatButtonId]
      ,[LiveChatDeploymentId]
      ,[LiveChatVisitorId]
      ,[Location]
      ,[MaxResponseTimeOperator]
      ,[MaxResponseTimeVisitor]
      ,[Name]
      ,[OperatorMessageCount]
      ,[OwnerId]
      ,[Platform]
      ,[ReferrerUri]
      ,[ScreenResolution]
      ,[SkillId]
      ,[Status]
      ,[SupervisorTranscriptBody]
      ,[UserAgent]
      ,[VisitorMessageCount]
      ,[WaitTime]
      ,[EtlInsertTime]
	  FROM Salesforce_LiveChatTranscript_Latest
	  WHERE RN = 1

END
GO
