USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[CreateTable_Requests_OutstandingProductIssue]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [domain].[CreateTable_Requests_OutstandingProductIssue]
GO
/****** Object:  StoredProcedure [domain].[CreateTable_Requests_OutstandingProductIssue]    Script Date: 24-sept.-18 14:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jennifer Vink
-- Create date: 2017-01-17
-- Description:	
-- =============================================
CREATE PROCEDURE [domain].[CreateTable_Requests_OutstandingProductIssue] 
AS
BEGIN
IF OBJECT_ID (N'Requests_OutstandingProductIssue', N'U') IS NOT NULL 
DROP TABLE domain.Requests_OutstandingProductIssue

CREATE TABLE [domain].[Requests_OutstandingProductIssue](
[RequestID] uniqueidentifier,
[Created] Datetime,
[Modified] Datetime,
[Realized] Datetime,
[Approved] Datetime,
[StatusChanged] Datetime,

[Status] int,
[HID] int ,
[TypeDescription] nvarchar(max),
[AccountID] uniqueidentifier,
[ContactID] uniqueidentifier,
[Description] nvarchar(max),
[RequestComments] nvarchar(max),
[WorkflowComments] nvarchar(max),
[Related question] nvarchar(max),
[Development question] nvarchar(max),
[Module] nvarchar(max),
[StartDate] Date,
[EndDate] Date,
[Hotfix patched?] nvarchar(max),
[Test OK in SAT] nvarchar(max),
[CIGCopyTime] Datetime,
[Environment] nvarchar(4),
[Processed] datetime
)
END
GO
