USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [domain].[Load_ActivityMonthly_AppUsage_RajivTest]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [domain].[Load_ActivityMonthly_AppUsage_RajivTest]
GO
/****** Object:  StoredProcedure [domain].[Load_ActivityMonthly_AppUsage_RajivTest]    Script Date: 24-sept.-18 14:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Jennifer Vink
-- Create date: 2018-07-10
-- Description:	Load Activity Monthly Apps summary based on the ActivityLog
-- =============================================
CREATE PROCEDURE [domain].[Load_ActivityMonthly_AppUsage_RajivTest] (@StartDate date, @AppID uniqueidentifier, @LastUpdatedMonth NVARCHAR(MAX))
AS

DECLARE @Year int
DECLARE @Month int

SET @Year = Datepart(yyyy,@StartDate)
SET @Month = Datepart(mm,@StartDate) 


--Count manual pageviews

BEGIN
INSERT INTO domain.ActivityMonthly_Apps_RajivTest (ID,Environment, Year, Month, YearMonth, ApplicationID, AccountID, AccountCode, UserID, DivisionCode, Action, Endpoint, Quantity, AverageDuration) 
SELECT 
NEWID() AS ID,--(PK, Autogenerated ID) [to be included by CIG team]
AL.Environment, --(Nl, UK etc..) [to be included]
YEAR(AL.Logdatetime) AS [Year], --Year
MONTH(AL.Logdatetime) AS [Month], --Month
CONCAT(YEAR(AL.Logdatetime), CASE                                                          
              WHEN MONTH(AL.Logdatetime) < 10 THEN CONCAT('0',  MONTH(AL.Logdatetime)) 
              ELSE  CONCAT('',  MONTH(AL.Logdatetime)) END) AS YearMonth, --YearMonth
AL.ApplicationID AS ApplicationID, --AppID
AL.AccountID AS AccountID, --Customer using the app
LTRIM(A.Code) AS AccountCode, --Account Code of customer using the app
AL.UserID, --UserID
AL.AdministrationCode AS DivisionCode, --DivisionCode
AL.Action, --Action(13:Get, 0:Post, 2:Put, 3:Delete)
AL.App AS [Endpoint], --Endpoint
COUNT_BIG (*) AS Quantity, --Request Count
ROUND(AVG(Cast(AL.Duration as bigint)),0) AS AverageDuration --AverageDuration
FROM raw.EOLActivityLog AL
LEFT OUTER JOIN raw.Accounts A ON (AL.AccountID = A.ID)
WHERE AL.Type = 1
AND AL.App NOT IN --Exclude activites of below endoint
       (
       'restapi/current/me',
        'restapi/entity/hrm/divisions',
        'restapi/entity/users/unlinkallroles',
        'restapi/entity/users/userroles',
        'restapi/entity/users/userrolesperdivision',
        'restapi/entity/users/users',
        'restapi/entity/users/userhasrights',
        'restapi/read/hosting/divisionusers',
        'restapi/read/hosting/userroles',
        'restapi/read/hosting/users',
        'restapi/system/system/availablefeatures',
        'restapi/system/system/divisions',
        'restapi/system/system/exactinfo',
        'restapi/system/system/getmostrecentlyuseddivisions',
        'restapi/system/system/me',
        'restapi/system/system/smartphonemenu',
        'restapi/system/system/smartphonerights',
        'restapi/system/system/users'
       )
AND Action IN ('13', '0', '2', '3')
--AND LogDateTime BETWEEN '2018-01-01' AND '2018-02-01'
AND ApplicationID = CAST(@AppID AS nchar(36))
--AND ApplicationID = '02E27EB8-996E-43C1-B210-003E55F0655A'
--AND @Year= Datepart(yyyy,LogDateTime) AND @Month=Datepart(mm,LogDateTime)
AND LogDateTime BETWEEN @StartDate AND DATEADD(m,1,@StartDate)
GROUP BY
YEAR(AL.LogDateTime),
MONTH(AL.LogDateTime),
CONCAT(YEAR(AL.LogDateTime), CASE                                                          
              WHEN MONTH(AL.LogDateTime) < 10 THEN CONCAT('0',  MONTH(AL.LogDateTime)) 
              ELSE  CONCAT('',  MONTH(AL.LogDateTime)) END),
AL.ApplicationID,
AL.AccountID,
A.Code,
AL.UserID,
AL.AdministrationCode,
AL.Action,
AL.App,
AL.Environment
END



GO
