USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [raw].[CreateTable_Accounts]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [raw].[CreateTable_Accounts]
GO
/****** Object:  StoredProcedure [raw].[CreateTable_Accounts]    Script Date: 24-sept.-18 14:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jennifer Vink
-- Create date: 03-04-2017
-- =============================================
CREATE PROCEDURE [raw].[CreateTable_Accounts]
AS
BEGIN

IF OBJECT_ID (N'CustomerIntelligence.raw.Accounts', N'U') IS NOT NULL 
DROP TABLE CustomerIntelligence.raw.Accounts

CREATE TABLE raw.Accounts
	(
	[Division] [int] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[CreditLineSales] [float] NOT NULL,
	[CreditLinePurchase] [float] NOT NULL,
	[DiscountSales] [float] NOT NULL,
	[DiscountPurchase] [float] NOT NULL,
	[IsBank] [bit] NOT NULL,
	[IsPilot] [bit] NOT NULL,
	[IsSupplier] [bit] NOT NULL,
	[IsSales] [bit] NOT NULL,
	[IsPurchase] [bit] NOT NULL,
	[IsReseller] [bit] NOT NULL,
	[IsAccountant] [tinyint] NOT NULL,
	[IsCompetitor] [tinyint] NOT NULL,
	[IsMember] [bit] NOT NULL,
	[Blocked] [bit] NOT NULL,
	[PurchaseOrderConfirmation] [bit] NOT NULL,
	[Reminder] [bit] NOT NULL,
	[InvoiceCopies] [smallint] NOT NULL,
	[BackOrders] [bit] NOT NULL,
	[Attention] [bit] NOT NULL,
	[IsAgency] [tinyint] NOT NULL,
	[UseTimeSpecification] [tinyint] NOT NULL,
	[IsMailing] [tinyint] NOT NULL,
	[CostPaid] [tinyint] NOT NULL,
	[SeparateInvPerProject] [tinyint] NOT NULL,
	[SeparateInvPerSubscription] [tinyint] NOT NULL,
	[ConsolidationScenario] [tinyint] NOT NULL,
	[SecurityLevel] [int] NOT NULL,
	[syscreated] [datetime] NOT NULL,
	[CanDropShip] [bit] NOT NULL,
	[sysmodified] [datetime] NOT NULL,
	[sysmodifier] [uniqueidentifier] NULL,
	[SalesCurrency] [nchar](3) NULL,
	[SBICode] [uniqueidentifier] NULL,
	[DateModifiedByCoC] [date] NULL,
	[syscreator] [uniqueidentifier] NULL,
	[DunsNumber] [nvarchar](9) NULL,
	[CreditManagementScenario] [uniqueidentifier] NULL,
	[CreditManagementStatus] [uniqueidentifier] NULL,
	[GLAccountSales] [uniqueidentifier] NULL,
	[GLAccountPurchase] [uniqueidentifier] NULL,
	[GLAR] [uniqueidentifier] NULL,
	[GLAP] [uniqueidentifier] NULL,
	[ControlledDate] [datetime] NULL,
	[WebService] [uniqueidentifier] NULL,
	[PurchaseCurrency] [nchar](3) NULL,
	[ProfitPercentage] [float] NULL,
	[LaborMarkupPercentage] [float] NULL,
	[PurchaseMarkupPercentage] [float] NULL,
	[QuotationMarkupType] [smallint] NULL,
	[TaxReferenceNumber] [nvarchar](30) NULL,
	[SepaDDCreditorIdentifier] [nvarchar](35) NULL,
	[PurchaseMarkupPercentageProject] [float] NULL,
	[ChamberOfCommerceEstablishment] [nvarchar](12) NULL,
	[SirenNumber] [nvarchar](9) NULL,
	[VatSystem] [nchar](1) NULL,
	[Extension] [uniqueidentifier] NULL,
	[Geolocation] [geography] NULL,
	[TradeName] [nvarchar](50) NULL,
	[EstablishedDate] [date] NULL,
	[RSIN] [nvarchar](9) NULL,
	[CIGCopyTime] [datetime] NULL,
	[Environment] [nchar](3) NULL,
	[CIGProcessed] [bit] NULL,
	[ShippingMethod] [uniqueidentifier] NULL,
	[ShippingLeadDays] [int] NULL,
	[PurchaseLeadDays] [int] NULL,
	[LeadSource] [uniqueidentifier] NULL,
	[CodeAtSupplier] [nvarchar](20) NULL,
	[CheckDate] [datetime] NULL,
	[CreditManager] [uniqueidentifier] NULL,
	[CreditabilityScenario] [nchar](1) NULL,
	[VATLiability] [nchar](1) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CustomerSince] [datetime] NULL,
	[PriceList] [uniqueidentifier] NULL,
	[Accountant] [uniqueidentifier] NULL,
	[AccountantAccountManager] [uniqueidentifier] NULL,
	[SalesVATCode] [nchar](3) NULL,
	[PurchaseVATCode] [nchar](3) NULL,
	[IntraStatSystem] [nchar](5) NULL,
	[IntraStatTransactionA] [nchar](1) NULL,
	[IntraStatTransactionB] [nchar](1) NULL,
	[IntraStatTransportMethod] [nchar](1) NULL,
	[IntraStatDeliveryTerm] [nchar](4) NULL,
	[IntraStatArea] [nchar](3) NULL,
	[DatabaseID] [uniqueidentifier] NULL,
	[Language] [nchar](10) NULL,
	[MainDivision] [int] NULL,
	[CustomerDivision] [int] NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
	[PaymentConditionSales] [nchar](2) NULL,
	[PaymentConditionPurchase] [nchar](2) NULL,
	[SalesOrderConfirmation] [nchar](1) NULL,
	[Code] [nchar](18) NULL,
	[SearchCode] [nchar](9) NULL,
	[MainContact] [uniqueidentifier] NULL,
	[Parent] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NULL,
	[TimeZone] [nvarchar](100) NULL,
	[Type] [nchar](1) NULL,
	[Status] [nchar](1) NULL,
	[StatusSince] [datetime] NULL,
	[Rating] [int] NULL,
	[Origin] [nchar](3) NULL,
	[Document] [uniqueidentifier] NULL,
	[Classification] [nchar](3) NULL,
	[WebAccessSince] [datetime] NULL,
	[ProcessedByBackgroundJob] [bit] NULL,
	[RecepientOfCommissions] [bit] NULL,
	[Costcenter] [nchar](8) NULL,
	[Currency] [nchar](3) NULL,
	[InvoiceAccount] [uniqueidentifier] NULL,
	[Postcode] [nvarchar](20) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nchar](3) NULL,
	[State] [nchar](3) NULL,
	[Sector] [nchar](10) NULL,
	[Subsector] [nchar](10) NULL,
	[AccountManager] [uniqueidentifier] NULL,
	[Reseller] [uniqueidentifier] NULL,
	[VATNumber] [nvarchar](35) NULL,
	[ChamberOfCommerce] [nvarchar](20) NULL,
	[ActivitySector] [uniqueidentifier] NULL,
	[ActivitySubSector] [uniqueidentifier] NULL,
	[CompanySize] [uniqueidentifier] NULL,
	[BusinessType] [uniqueidentifier] NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL, 
	[Email] [nvarchar](128) NULL,
	[Phone] [nvarchar](25) NULL,
	[PhoneExtension] [nvarchar](4) NULL,
	[PhoneSales] [nvarchar](25) NULL,
	[PhoneHelpdesk] [nvarchar](25) NULL ,
	[Website] [nvarchar](128) NULL
	)
END
GO
