USE [CustomerIntelligence]
GO
/****** Object:  StoredProcedure [raw].[Load_Accounts]    Script Date: 24-sept.-18 14:29:53 ******/
DROP PROCEDURE IF EXISTS [raw].[Load_Accounts]
GO
/****** Object:  StoredProcedure [raw].[Load_Accounts]    Script Date: 24-sept.-18 14:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jennifer Vink
-- Create date: 03-04-2017
-- =============================================
CREATE PROCEDURE [raw].[Load_Accounts]
AS
BEGIN
TRUNCATE TABLE raw.Accounts

INSERT INTO raw.Accounts
SELECT 
	Division, 
	ID, 
	CreditLineSales, 
	CreditLinePurchase, 
	DiscountSales, 
	DiscountPurchase, 
	IsBank, 
	IsPilot, 
	IsSupplier, 
	IsSales, 
	IsPurchase, 
	IsReseller, 
	IsAccountant, 
	IsCompetitor, 
	IsMember, 
	Blocked, 
	PurchaseOrderConfirmation, 
	Reminder, 
	InvoiceCopies, 
	BackOrders, 
	Attention, 
	IsAgency, 
	UseTimeSpecification, 
	IsMailing, 
	CostPaid, 
	SeparateInvPerProject, 
	SeparateInvPerSubscription, 
	ConsolidationScenario, 
	SecurityLevel, 
	syscreated, 
	CanDropShip, 
	sysmodified, 
	sysmodifier, 
	SalesCurrency, 
	SBICode, 
	DateModifiedByCoC, 
	syscreator, 
	DunsNumber, 
	CreditManagementScenario, 
	CreditManagementStatus, 
	GLAccountSales, 
	GLAccountPurchase, 
	GLAR, 
	GLAP, 
	ControlledDate,
	WebService, 
	PurchaseCurrency, 
	ProfitPercentage, 
	LaborMarkupPercentage, 
	PurchaseMarkupPercentage, 
	QuotationMarkupType, 
	TaxReferenceNumber, 
	SepaDDCreditorIdentifier, 
	PurchaseMarkupPercentageProject, 
	ChamberOfCommerceEstablishment, 
	SirenNumber, 
	VatSystem, 
	Extension, 
	Geolocation, 
	TradeName, 
	EstablishedDate, 
	RSIN, 
	CIGCopyTime, 
	Environment, 
	CIGProcessed, 
	ShippingMethod, 
	ShippingLeadDays, 
	PurchaseLeadDays, 
	LeadSource, 
	CodeAtSupplier, 
	CheckDate, 
	CreditManager, 
	CreditabilityScenario, 
	VATLiability, 
	StartDate, 
	EndDate,
	CustomerSince, 
	PriceList, 
	Accountant, 
	AccountantAccountManager, 
	SalesVATCode, 
	PurchaseVATCode, 
	IntraStatSystem, 
	IntraStatTransactionA, 
	IntraStatTransactionB, 
	IntraStatTransportMethod, 
	IntraStatDeliveryTerm, 
	IntraStatArea, 
	DatabaseID, 
	Language, 
	MainDivision, 
	CustomerDivision, 
	Longitude, 
	Latitude, 
	PaymentConditionSales, 
	PaymentConditionPurchase, 
	SalesOrderConfirmation, 
	Code, 
	SearchCode, 
	MainContact, 
	Parent, 
	Name, 
	TimeZone, 
	Type, 
	Status, 
	StatusSince, 
	Rating, 
	Origin,
	Document, 
	Classification, 
	WebAccessSince, 
	ProcessedByBackgroundJob, 
	RecepientOfCommissions, 
	Costcenter, 
	Currency, 
	InvoiceAccount, 
	Postcode, 
	City, 
	Country, 
	State, 
	Sector, 
	Subsector, 
	AccountManager, 
	Reseller, 
	VATNumber, 
	ChamberOfCommerce, 
	ActivitySector, 
	ActivitySubSector, 
	CompanySize, 
	BusinessType,
	AddressLine1,
	AddressLine2,
	AddressLine3, 
	Email,
	Phone ,
	PhoneExtension,
	PhoneSales,
	PhoneHelpdesk,
	Website,
	IsAnonymized,
	LeadPurpose,
	AnonymisationSource
FROM
	( 
	SELECT 
 		Division, 
		ID, 
		CreditLineSales, 
		CreditLinePurchase, 
		DiscountSales, 
		DiscountPurchase, 
		IsBank, 
		IsPilot, 
		IsSupplier, 
		IsSales, 
		IsPurchase, 
		IsReseller, 
		IsAccountant, 
		IsCompetitor, 
		IsMember, 
		Blocked, 
		PurchaseOrderConfirmation, 
		Reminder, 
		InvoiceCopies, 
		BackOrders, 
		Attention, 
		IsAgency, 
		UseTimeSpecification, 
		IsMailing, 
		CostPaid, 
		SeparateInvPerProject, 
		SeparateInvPerSubscription, 
		ConsolidationScenario, 
		SecurityLevel, 
		syscreated, 
		CanDropShip, 
		sysmodified, 
		sysmodifier, 
		SalesCurrency, 
		SBICode, 
		DateModifiedByCoC, 
		syscreator, 
		DunsNumber, 
		CreditManagementScenario, 
		CreditManagementStatus, 
		GLAccountSales, 
		GLAccountPurchase, 
		GLAR, 
		GLAP, 
		ControlledDate,
		WebService, 
		PurchaseCurrency, 
		ProfitPercentage, 
		LaborMarkupPercentage, 
		PurchaseMarkupPercentage, 
		QuotationMarkupType, 
		TaxReferenceNumber, 
		SepaDDCreditorIdentifier, 
		PurchaseMarkupPercentageProject, 
		ChamberOfCommerceEstablishment, 
		SirenNumber, 
		VatSystem, 
		Extension, 
		Geolocation, 
		TradeName, 
		EstablishedDate, 
		RSIN, 
		CIGCopyTime, 
		Environment, 
		CIGProcessed, 
		ShippingMethod, 
		ShippingLeadDays, 
		PurchaseLeadDays, 
		LeadSource, 
		CodeAtSupplier, 
		CheckDate, 
		CreditManager, 
		CreditabilityScenario, 
		VATLiability, 
		StartDate, 
		EndDate,
		CustomerSince, 
		PriceList, 
		Accountant, 
		AccountantAccountManager, 
		SalesVATCode, 
		PurchaseVATCode, 
		IntraStatSystem, 
		IntraStatTransactionA, 
		IntraStatTransactionB, 
		IntraStatTransportMethod, 
		IntraStatDeliveryTerm, 
		IntraStatArea, 
		DatabaseID, 
		Language, 
		MainDivision, 
		CustomerDivision, 
		Longitude, 
		Latitude, 
		PaymentConditionSales, 
		PaymentConditionPurchase, 
		SalesOrderConfirmation, 
		Code, 
		SearchCode, 
		MainContact, 
		Parent, 
		Name, 
		TimeZone, 
		Type, 
		Status, 
		StatusSince, 
		Rating, 
		Origin,
		Document, 
		Classification, 
		WebAccessSince, 
		ProcessedByBackgroundJob, 
		RecepientOfCommissions, 
		Costcenter, 
		Currency, 
		InvoiceAccount, 
		Postcode, 
		City, 
		Country, 
		State, 
		Sector, 
		Subsector, 
		AccountManager, 
		Reseller, 
		VATNumber, 
		ChamberOfCommerce, 
		ActivitySector, 
		ActivitySubSector, 
		CompanySize, 
		BusinessType,
		AddressLine1,
		AddressLine2,
		AddressLine3, 
		Email,
		Phone ,
		PhoneExtension,
		PhoneSales,
		PhoneHelpdesk,
		Website,
		IsAnonymized,
		LeadPurpose,
		AnonymisationSource,
		ROW_NUMBER() OVER (PARTITION BY Division, ID ORDER BY CigCopyTime DESC) AS RowNumber
	FROM raw.HOST_CIG_Accounts
	) SUB
WHERE SUB.RowNumber='1'
END
GO
